[2019-10-23 17:12] codebender828 opened #3 "vue-styled-components `tag` prop use case"
# 🌮 `vue-styled-components` tag prop use case

I'm currently working on building a Vue UI components library  called Kiwi based on vue-styled-components. Even though I've not been developing for a very long time, I'm still very open to learning. So please feel free to helping me improve my understading of Styled Components.

### 📦 Types of components

In the Kiwi component library that I am workin

[2019-10-25 07:56] #3 closed

[2020-01-29 16:52] codebender828 opened #7 "MenuButton: cannot pass `Button` component in as prop"
**Describe the bug**
Cannot pass Button component as a prop value without it throwing errors. Error message:
The error it throws says that `this.$slots` is undefined
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Import Menu & MenuButton components
2. Pass in `Button` in `as` prop for `MenuButton` component.
3. See error

**Additional context**
I believe this error has much to do wit

[2020-01-29 19:29] codebender828 commented on #7
Resolved this in subsequent commit by defaulting menu button to compose Button component

[2020-01-29 19:29] #7 closed

[2020-02-17 05:21] codebender828 opened #8 "Popper: Update popper JS to latest version"
**Is your feature request related to a problem? Please describe.**
Need to update `Popper.js` to latest version. This will reduce bundle sizes for the `Popper` component's consumers

See docs here: https://popper.js.org/

[2020-02-17 05:22] codebender828 opened #9 "Tests for Chakra components [Ongoing]"
**Is your feature request related to a problem? Please describe.**
No tests currently written for components

**Describe the solution you'd like**
Write tests in jest :)

This current codebase is setup to work with Jest and `@vue/test-utils` out of the box.

[2020-02-17 05:24] codebender828 opened #10 "Type system: Need to setup type system for components"
**Is your feature request related to a problem? Please describe.**
No types system is setup for consumers to get auto-complete suggestions in VSCode and/other development environments.

**Describe the solution you'd like**
Not sure, how exactly to implement this yet, but would be very useful for chakra-ui consumers.

[2020-02-17 05:27] codebender828 opened #11 "Documentation Site [Ongoing]"
**Is your feature request related to a problem? Please describe.**
Components built are currently not documented. Need help with setting up a documentation site.

**Describe the solution you'd like**
Nuxt with live editor for components
Demo: http://nuxt-mdx.netlify.com/
Github: https://github.com/codebender828/nuxt-mdx-poc

**Describe alternatives you've considered**
- vuepress

**Additional cont

[2020-02-17 07:32] codebender828 opened #12 "Prop types: Reference all prop types from variables"
**Is your feature request related to a problem? Please describe.**
Currently all props declare their own prop types for style props. This hurts bundle sizes.

There is almost no need to strictly limit style prop definitions since any CSS or styled system theme variable can be passed.

This will reduce bundle sizes for `props.js` and `pseudoprops.js` since all components reference these.

**Describ

[2020-02-18 13:07] DominusKelvin commented on #11
Hey @codebender828. I would be helping on the docs.

[2020-02-18 13:38] codebender828 opened #13 "Feature: Toast improve notifications API"
**Is your feature request related to a problem? Please describe.**
Currently the notifications API uses a rather verbose approach when creating a toast notification instance.

This is because the Toast's dependency, `breadstick` doesn't have access to the current Vue instance upon creation as seen in `Toast/index.js`.

So consumers will have do something hideous like:
[code]

**Describe the soluti

[2020-02-19 05:48] DominusKelvin commented on #11
@codebender828 when would be free. Let's go over the first set up together. So I can get started

[2020-02-19 20:18] koca commented on #9
@codebender828 i'll be working on this ^^

[2020-02-20 01:47] codebender828 commented on #7
@all-contributers add @codebender828 for code

[2020-02-20 01:53] codebender828 commented on #7
@all-contributers add @codebender828 for code

[2020-02-20 01:56] codebender828 opened #17 "Add contributors"
@all-contributors please add @codebender828 for code

[2020-02-20 02:07] codebender828 commented on #17
@all-contributors please add @codebender828 for code

[2020-02-20 02:08] codebender828 commented on #17
@all-contributors please add @koca  for code

[2020-02-20 02:21] #17 closed

[2020-02-20 05:26] codebender828 opened #20 "Feature: Vetur intellisense support for component docs"
**Is your feature request related to a problem? Please describe.**
I previously tried using typescript to document components using intellisense but this doesn't always out of the block using user land extensions like Vetur. Vetur mainly supports autocompletion and doesn't use typescript to suggest component props to consumers.

To achieve this, one needs to use a helper json file that we can pack

[2020-02-25 18:42] codebender828 commented on #10
Closing issue because vetur extension has no support for typoscript declared props and attributes. Preference for this support will be given to using vetur's etension support for component

[2020-02-25 18:42] #10 closed

[2020-03-02 13:40] codebender828 commented on #12
Solved in #31

[2020-03-02 13:40] #12 closed

[2020-03-02 14:24] #13 closed

[2020-03-14 15:10] codebender828 opened #42 "Contributors update"
Conrtibutions update

[2020-03-14 15:11] codebender828 commented on #42
@all-contributors please add @codebender828  for test

[2020-03-14 15:12] codebender828 commented on #42
@all-contributors please add @codebender828  for doc

[2020-03-14 15:14] #42 closed

[2020-03-14 18:54] codebender828 opened #46 "VSCode Intellisense server"
**Is your feature request related to a problem? Please describe.**
Since Vue component templates in VSCode do not have typescript support, it's difficult to consume component libraries without constantly going to and from in between the docs for autocompletion.

**Describe the solution you'd like**
An extension that suggests component props and types to consumers

**Describe alternatives you've co

[2020-03-15 05:36] TNieminen opened #49 "Storybook component issues"
## Description

At https://chakra-ui-vue.netlify.com some of the components are throwing errors on render or not working as expected. See list of screenshots for description

## Screenshots of broken components

![Screenshot from 2020-03-15 13-30-43](https://user-images.githubusercontent.com/24986078/76696019-bf27cf80-66c1-11ea-977c-4f224444a3f9.png)
![Screenshot from 2020-03-15 13-30-33](https://

[2020-03-15 07:23] DominusKelvin commented on #49
Thanks for catching this. We would be on it shortly.

[2020-03-15 11:34] codebender828 opened #50 "Improve error messages for colorMode provider"
**Is your feature request related to a problem? Please describe.**
Since majority of components inject the `$colorMode` variable, it would be good to provide either a default/fallback or accompany all `$colorMode` injections with an error message.

**Describe the solution you'd like**
The error message should stipulate that the consumer should wrap their application inside the ColorModeProvider co

[2020-03-15 13:43] koca commented on #49
I'm working on this.

[2020-03-15 14:54] phiter commented on #46
Hey!

This is easy to achieve, and I don't think making another extension is the best option.
I believe every Vue developer who use VSCode uses Vetur, and [vetur has built in support](https://github.com/vuejs/vetur/blob/master/docs/framework.md) for tag/prop autocomplete.

We need two files, one is called attributes.json and the other is called tags.json.

tags.json holds all the component names.

[2020-03-15 16:48] ManuelGMaestri commented on #11
First i will use and understand your library a bit more then I would like to help you with the docs if helps is needed. I speak native Spanish so maybe I could be useful for that.

[2020-03-16 07:50] DominusKelvin commented on #11
@ManuelGMaestri nice.

[2020-03-16 08:18] codebender828 commented on #46
Good day, @phiter ! Thank you so much your response towards this. I didn't know that Vetur support that extensive. So there's no need to have a separate VSCode extension for this.

Considering the approaches you've listed, I would recommend to start with the simplest but sufficiently reliable way to implement this. (Manually perhaps). I've already written most component descriptions that I think c

[2020-03-16 08:19] codebender828 commented on #20
Duplicate of #46. Closing.

[2020-03-16 08:19] #20 closed

[2020-03-16 08:22] DominusKelvin commented on #46
This is nice. Autocomplete will drive ease of usage and DX.

[2020-03-16 08:39] codebender828 commented on #11
Thank you @ManuelGMaestri . When I get time later today, we'll be pushing the docs site to it's own repo.

[2020-03-16 09:04] DominusKelvin commented on #8
I'm taking this on

[2020-03-16 13:10] phiter commented on #46
@codebender828 I made a generator for my company's library, but since it's a starting project, we're making components using .vue files and the docgen handles those files.

I'll see what's the easier and most organized way we can add that to chakra ui.

[2020-03-17 02:30] #49 closed

[2020-03-17 06:30] codebender828 commented on #46
That's great! I'll also try to come up with a few ideas I can share with you to see what you think.

[2020-03-18 00:40] codebender828 opened #57 "Bug: ModalOverlay should close Modal on click / touch by default"
**Describe the bug**
ModalOverlay doesn't close the Modal on click by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chakra-ui-vue.netlify.com/?path=/story/ui-modal--base-modal
2. Click on Show Modal button. Modal should open
3. Click the dark overlay.
4. Modal doesn't close.

**Expected behavior**
Clicking the ModalOverlay component should close Modal by default.

**

[2020-03-18 04:47] koca commented on #57
Modal Overlay and Close button was not working. Fixed.

[2020-03-18 04:55] koca commented on #57
Tested mobile(on my PR), touching overlay closed the modal.

[2020-03-18 05:31] codebender828 commented on #57
Nice work! Will be able to look at this later this evening!

[2020-03-18 16:15] #57 closed

[2020-03-18 16:36] codebender828 opened #59 "@chakra-ui/nuxt module to server render emotion styles in nuxt."
**Is your feature request related to a problem? Please describe.**
After testing @chakra-ui/vue with Nuxt.js on various pilot projects, I've noticed that there are inconsistencies in how the [`@nuxtjs/emotion`](https://github.com/nuxt-community/emotion-module) package server-renders styles. I'm not entirely sure about what causes this because I haven't looked into it extensively.

In some cases th

[2020-03-18 20:40] koca commented on #59
Yep there is an issue with the rendering. I'm guessing it compiles css on client not on server or feels like it. (check `Disable Cache` on devtools Network Panel and refresh the page)

[2020-03-27 11:25] codebender828 commented on #46
Hey @phiter How are you? Been brooding over this idea on how to generate the different component docs for Vetur intellisense support and I think I've come up with an idea.

We could use JSDoc to write the documentation for each component and use that comment block to declare the component props, types and descriptions. During build-time we can then parse the file to extract the comments and parse

[2020-03-27 11:43] phiter commented on #46
I was thinking... we could have a different approach.

Instead of adding the documentation to the component itself as a comment and have the hassle of parsing it, what if we just add a `MyComponent.api.js` file in each folder, and export an object from each, with a structure perhaps similar to what is done by vue-styleguidist apidoc?

That would take away the pain of having to make a custom parser

[2020-03-27 11:45] codebender828 commented on #8
testing git hooks

[2020-03-27 11:57] codebender828 commented on #46
@phiter I like this approach better actually.

About ensuring parity between `MyComponent` props and the `MyComponent.api.js` exported object, perhaps we can write tests to ensure that every prop is described in the `MyComponent.api.js`?

These would change only when modifying the component API. Which is also something that I think would happen rarely. But would be good to have nonetheless.

I app

[2020-03-27 12:10] codebender828 commented on #8
will delete later

[2020-03-27 12:16] codebender828 commented on #8
the problem is tat there's a delay

[2020-03-27 12:16] codebender828 commented on #8
finally got this working. sorry guys :D deleting comments

[2020-03-27 17:11] codebender828 opened #83 "Prefix all components to use <CXxxx /> or <c-xxxx /> pattern"
**Is your feature request related to a problem? Please describe.**
In conformance to the Vue style guide for components, component names/tags should always be Multi-Word. This helps prevent name clashing with HTML elements since Vue uses templates very similar to HTML elements.

**Describe the solution you'd like**
This involves prefixing all components with the `c-` or `C`
e.g.
`Accordion` -> `CA

[2020-03-27 17:28] codebender828 opened #84 "Prefix all injected variables with `$chakraXXX`"
**Is your feature request related to a problem? Please describe.**
In accordance with the Vue style guide, [it is recommended to prefix all our injected variable names with a unique identifier.](https://vuejs.org/v2/style-guide/#Private-property-names-essential)

**Describe the solution you'd like**
Prefix all component injected variables with `$chakra`

This would change our injected variables fr

[2020-03-28 11:45] koca commented on #83
I think we can just change the exports in `src/index` file.
https://github.com/chakra-ui/chakra-ui-vue/blob/86592740ec5e6c7826d8d9fa48375dd6ec8b9d7b/packages/chakra-ui-core/src/index.js#L20

[code]
If we do this they can use both `c-box` and `CBox`.

[2020-03-28 11:48] koca commented on #84
I like them as is but to prevent namespace issues, we can prefix with `chakra` 👍

[2020-03-28 11:51] koca commented on #83
And It sucks i like components without prefix. But vue :(

[2020-03-29 03:25] codebender828 commented on #83
Yeah, we could serve the imports like that, but the problem is that Vue's component resolver will still complain if it finds the name attribute of each component with something non-prefixed on a few elements. Like the Image or the Switch components. I tried this and it was still complaining. So I just decided to rename everything and cleanup a bit. Will be pushing in a few.

So it's just better to

[2020-03-29 11:11] #83 closed

[2020-03-29 11:28] #84 closed

[2020-03-31 09:38] codebender828 opened #87 "Add descriptive classNames for emotion"
**Is your feature request related to a problem? Please describe.**
If this is something seen as useful to the userland, I'd like to possibly look into applying readable classnames for `@chakra-ui/vue` components in the future. This could be an opt-in feature.

Currently, chakra-ui/vue components output CSS classnames for each component as such:
[code]
Possible solution could output:
[code]
**Custo

[2020-03-31 10:11] codebender828 opened #88 "Add accessibility report for all Chakra components"
**Is your feature request related to a problem? Please describe.**
Because accessibility is a Chakra UI fundamental concept, I feel that it would be a great idea to document for consumers who answers to the following questions:

_"Huh? 😒 How is this button accessible?! Looks pretty alright to me!"_

_"Also what do you mean this modal is accessible? Hmm? How do I know it is? 🕵🏽‍♂️"_

_"I'm a Vue de

[2020-03-31 13:01] codebender828 opened #89 "🏄🏽‍♂️ Roadmap to release | Mid April"
Here's a link to our release roadmap, mid-April! 🏵

https://www.notion.so/chakra-ui-vue-9cc2e0c3d9d3470ea13310b17ad937ad

Feel free to share your thoughts or how you'd like to contribute!

PS: It's still a WIP but it gets the idea across :D

[2020-04-01 19:41] ckissi opened #92 "How to integrate with Gridsome?"
Can anybody provide an example how to use this with Gridsome?

[2020-04-02 09:31] codebender828 commented on #92
Hi @ckissi ! I'm sorry I haven't yet made examples yet with gridsome. But I'll add this to the roadmap over at #89

I don't have any experience with Gridsome yet, but will be happy to look into it for you soon.

[2020-04-02 10:06] ckissi commented on #92
Thank you so much. Waiting for it.

[2020-04-02 16:31] codebender828 opened #94 "CAlert variant value names"
**Describe the bug**
CAlert variant names should all be kebab case.

[2020-04-02 17:09] #94 closed

[2020-04-02 20:01] #92 closed

[2020-04-02 20:03] codebender828 commented on #92
Hey, @ckissi ! Looks like @koca Made a Gridsome starter for you for chakra-ui/vue. Awesome!

Find it on the readme for this repo or also directly here:
https://codesandbox.io/s/chakra-ui-gridsome-demo-038c9

[2020-04-05 11:16] codebender828 opened #106 "Badge component `outline` variant and prop forwarding."
1. The `CBadge` component doesn't forward props passed from consumer that the component internally doesn't define.
![image](https://user-images.githubusercontent.com/21237954/78473298-0f9ac600-7772-11ea-9136-09cb38e335f1.png)

2. The border property on the outline variant style is not applied. Need to check `badgeStyles` utility
![image](https://user-images.githubusercontent.com/21237954/78473291-

[2020-04-05 12:18] #106 closed

[2020-04-07 19:08] codebender828 opened #111 "CBreadcrumbSeparator not visible by default"
**Describe the bug**
The `CBreadcrumbSeparator` is not rendered in between multiple `CBreadcrumbItem`.
### How to reproduce
**Code: **
[code]
**Output**
![image](https://user-images.githubusercontent.com/21237954/78709233-ec287480-7945-11ea-8eee-e73e2fab0933.png)

### Expected behavior
The `CBreadcrumbSeparator` should be rendered in between multiple `CBreadcrumbItem`s by default. When the `is-cur

[2020-04-07 19:21] codebender828 opened #112 "Button: CButton outline variant spinner doesn't preserve 'currentColor'"
The outline variant button spinner should consume the buttons current text color as shown below:
![image](https://user-images.githubusercontent.com/21237954/78710508-06fbe880-7948-11ea-9672-fd8eb5673bb1.png)

Currently it only uses to the default gray color scheme

[2020-04-07 21:26] koca commented on #111
I think it works as expected.
You set `:add-separator` to false. If you want to add seperators manually then you need to add `CBreadcrumbSeparator` component too.

Like so:
[code]

[2020-04-08 03:59] codebender828 commented on #111
Haha thanks. I realised as well this morning. I guess my brain was tired last night 😄

[2020-04-08 03:59] #111 closed

[2020-04-08 05:36] #112 closed

[2020-04-08 09:40] codebender828 opened #116 "@chakra-ui/vue Support for Vue 3"
**Is your feature request related to a problem? Please describe.**
As Vue 3's release approaches, a few changes in it's render function API and VNode signature are coming that might be breaking changes.

After @chakra-ui/vue is stable for Vue 2.X, in order for it to support Vue 3, it should also provide for a few changes that will be coming to Vue 3.

### KNOWN POTENTIAL ISSUES
- **[Render functio

[2020-04-08 12:09] codebender828 opened #118 "A11y: CTooltip not dismissed on `esc` for focused Anchors"
**Describe the bug**
According to WAI-ARIA specifications for tooltips, the tooltip should be be dismissed if the anchor is focused on `Escape` keyboard event. Currently if the tooltip anchor is a focusable element (e.g. a Button) tooltip will correctly show on focus, but is not dismissed when the `Escape` key is pressed.

See: https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction-21

**T

[2020-04-16 16:41] sibeshkar opened #122 "Closing Modal also closes open Drawer Component"
**Describe the bug**
On triggering `onClose` for a hovering Modal triggered from a Drawer component, the Drawer component closes too.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Drawer component
2. Add a button with Modal trigger to Drawer component
3. Open Drawer component and click button to open the Modal
4. Close the Modal and Drawer component also closes

**Expected behavior**
O

[2020-04-16 17:01] #118 closed

[2020-04-17 03:31] codebender828 commented on #122
Hey @sibeshkar ! Thanks for catching this bug. Could you kindly share a link to codesandbox of the bug?

[2020-04-17 10:24] sibeshkar commented on #122
Sorry, seem to have opened this on the Vue.js version. Reopened it on the React version https://github.com/chakra-ui/chakra-ui/issues/614

[2020-04-17 10:24] #122 closed

[2020-04-24 01:01] codebender828 opened #128 "Small UI bugs caught in review"
- [ ]  **COLLAPSE**
    - [ ]  Add defaults to `CCollapse` component docs
    - [ ]  Add easing props for the `CCollapse` component

**INPUT**

- [ ]  Change `CInput` component name
- [ ]  **RADIOGROUP**
    - [ ]  Add `v-model` to `CRadioGroup`
    - [ ]  Fix `CRadioGroup` default value prop
- [ ]  **MODAL**
    - [ ]  Fix function for `finalFocusRef` on `CModal`
- [ ]  **EDITABLE**
    - [ ]  Re

[2020-04-24 08:48] #128 closed

[2020-05-02 16:38] codebender828 opened #144 "[DOCS]: Add CCollapse component easing props to docs"
**Is your feature request related to a problem? Please describe.**
Add the easing function values for the `enterEasing` and `leaveEasing` props for the `CCollapse` component documentation.

Easing documentation -> https://chakra-ui-vue.now.sh/collapse

The `CCollapse` component uses [animejs](https://animejs.com/documentation/#linearEasing), so it accepts the animejs easing props.

__Might be rela

[2020-05-02 16:55] codebender828 opened #145 "Internal Icons: External Icons should overwrite Chakra's internal icons"
**Is your feature request related to a problem? Please describe.**
Chakra UI Vue provides some icons out of the box. These are normally referred to as internal icons.

At the beginning of this project, some internal icons were named with `_ICON_NAME` in a way that they would not provide naming conflicts with icons provided by external libraries e.g. FontAwesome.

The problem with this is that in c

[2020-05-02 17:00] codebender828 opened #146 "CMenu: Prefer emitting events over props as functions"
**Is your feature request related to a problem? Please describe.**
The CMenu component currently accepts the `onOpen` and `onClose` function props.

However this goes against Vue's natural intuition and canbe better handled by emitting the `@close` and `@open` events to the parent context.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe

[2020-05-02 17:08] codebender828 opened #147 "CMenu mounting may jank JS heavy pages."
**Describe the bug**
Menu performance is poor on JS heavy pages. This occurs when mounting the menu component.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chakra-ui-vue.now.sh/menu#menugroup
2. Click on Live example MenuButton
3. PAGE MAY JANK BEFORE OPENING AND CLOSING MENU

**Expected behavior**
The page should not jank while opening and closing complex menus.

**Screensh

[2020-05-02 17:17] codebender828 opened #148 "Change `CPopover` component to use click-away directive."
**Is your feature request related to a problem? Please describe.**
Maintaining the `CClickAway` component is proving to be more difficult than it already is. I've also fond some inconsistencies with it depending on certain conditions in the browser.

**Describe the solution you'd like**
 It may be better to write a `click-outside` directive that we can bind to the menu and popover components. We c

[2020-05-02 17:22] codebender828 opened #149 "Improve `CModal` composition to allow option spreading for consumer components"
**Is your feature request related to a problem? Please describe.**
The `CModal` component is consumed by both the `CDrawer` and the `CAlertDialog` components. In order to provide for better component composition, we need to spread the component options object instead of re-assigning them.

We should also provide for a way to provide meta information to set the component signatures.

Also the follo

[2020-05-02 18:25] codebender828 opened #150 "Implement v-model on CNumberInput component"
**Is your feature request related to a problem? Please describe.**
The number input doesn't have a 2 way binding implmentation.

**Describe the solution you'd like**
Implement v-model on CNumberInput

[2020-05-02 18:27] codebender828 opened #151 "Add v-model implementation for CSlider"
**Is your feature request related to a problem? Please describe.**
Currently the slider doesn't have a 2 way binding implementation

**Describe the solution you'd like**
Implement v-model for the CSlider component

[2020-05-03 09:03] codebender828 opened #154 "[Bug]: Popover portal focus styles visibility"
When using the `usePortal` prop, even though the Popover opens successfully and the `CPopoverContent` element receives focus, it may not always be visible. This might be because certain `domProps` of the `CPopoverContent` are not yet applied by the time the styles object is set in the portal.

Other issues:

- [x]  Fix Focus visibility styles on open for CPopover `usePortal`
- [x]  Add Function to

[2020-05-03 11:49] codebender828 opened #158 "Review Popover Component"
POPOVER

- [ ]  Fix Focus visibility styles on open for CPopover `usePortal`
- [ ]  Add Function to return ref for `initialFocusRef` prop.
    - [ ]  Accepted function should be run inside of `nextTick` or `setTimeout`
- [ ]  Move `forwardProps` object to follow internal props.

    [chakra-ui/chakra-ui-vue](https://github.com/chakra-ui/chakra-ui-vue/blob/e47efa717a464366408e574a4d9833eccb3fd762/p

[2020-05-03 11:50] codebender828 opened #159 "Review Radio & RadioGroup component"
RADIO
- [x]  fix `defaultChecked` prop
- [x]  Implement `v-model` for RadioButtonGroup
- [x] Ensure `v-model` works for Radio Group component

[2020-05-03 11:51] codebender828 commented on #8
@DominusKelvin How is progress coming along with this?

[2020-05-03 11:52] DominusKelvin commented on #8
I haven’t been able to work on it much though. Do you want to take it on @codebender828 ?

[2020-05-03 11:54] codebender828 commented on #8
Okay. Someone contacted me on Twitter hoping to work on it. I wanted to know if you were still on this so I know how to respond. Thanks. I think I can ask them to take it on, since you're currently working on docs 👍

[2020-05-03 13:18] codebender828 opened #160 "中文文档翻译 《寻找贡献者》"
**当前状态**
当前的Chakra UI文档仅以英语发布。

**拟议的解决方案**
为了使Chakra UI对中国的开发社区可访问，最好将文档翻译成中文。
如果您使用@chakra-ui/vue，愿意为我们的文档翻译成中文提供帮助，我们将很高兴与您合作！

在此问题评论与我联系，或在这里加入我们的discord：

https://discord.gg/baVQcCC

[2020-05-03 22:17] DominusKelvin opened #163 "[Bug]: Tab can be disabled and also could be set as the default tab"
**Describe the bug**
A tab that is disabled can also be said as the default tab with `defaultIndex`

**To Reproduce**
Steps to reproduce the behavior:
1. Create 3 tabs
2. Set the `defaultIndex`  props on tabs to the third tab via `:default-index="2"`
3. Disable the third tab by passing it the `is-disabled` prop
4. See error

**Expected behavior**
I suppose Chakra UI Vue should complain or default

[2020-05-03 23:33] codebender828 commented on #59
Closing issue because it seems to not to be an issue for recent nuxt projects. Unable to reproduce for now.

[2020-05-03 23:33] #59 closed

[2020-05-05 19:55] #11 closed

[2020-05-06 06:44] codebender828 commented on #87
Some notes:
- Add prop to provide class name modification support. This can be done by adding a prop.
[code]

During development, this will output:
[code]
- See `babel-plugin-emotion` and add documentation for how to apply it.

[2020-05-06 20:28] peoray commented on #150
I'd like to work on this ;)

[2020-05-07 01:12] codebender828 commented on #150
Hey Peoray! Thanks for the help with this! Coolio. Feel free to fork it and open a PR!

My target is for us to launch v1 on hopefully on Saturday!

[2020-05-07 01:15] codebender828 commented on #150
Hey @peoray ! Thanks for taking this on.

Feel free to fork the repo and work on it. There's a contribution guide on the readme to help you get started with development.

Let me know here or on the discord chat!

https://discord.gg/7ZNcDv

[2020-05-07 08:25] peoray commented on #150
@codebender828, I'd like more context about the issue. Going through the files, I'm confused as to which file I'm supposed to edit.

[2020-05-07 09:14] codebender828 commented on #150
The file to edit is the `CNumberInput.js` file. Currently it has a `defaultValue` prop which technically should not be there. In order to implement `v-model` you need to:
1. Add a `model` option the component.
  a. Set the event to emit to update the prop.
  b. Set the prop the relay the internal state for the `CNumberInput.

2. On every change of the value of the input element, you emit the event

[2020-05-07 21:07] peoray commented on #151
Picking this up as well :)

[2020-05-08 06:05] codebender828 commented on #8
Hey. This task has changed priority, and I'm making the executive decision to take over implementing this issue to get it done quickly. Thank you so much for offering to take it on, please do take a look at the other issues in the project if you are willing! Thank you!

[2020-05-08 07:34] #8 closed

[2020-05-08 07:34] #145 closed

[2020-05-08 07:34] #146 closed

[2020-05-08 07:34] #147 closed

[2020-05-08 07:34] #148 closed

[2020-05-08 07:34] #149 closed

[2020-05-08 10:19] #150 closed

[2020-05-08 10:48] peoray commented on #151
I guess this is very similar to the `Numberinput`, should be `change` instead of `input` and this is already being emitted in the `updateValue` method?

I need your thoughts on this ;)

[2020-05-08 10:53] codebender828 commented on #151
Spot on, @peoray

[2020-05-08 12:32] codebender828 commented on #163
Thanks for opening this issue, @DominusKelvin

I think this is still okay since it's the user that sets the default tab. I think this would be a problem if a disabled tab can be activated.

So for now this is will not be fixed.

[2020-05-08 12:32] #163 closed

[2020-05-08 12:44] codebender828 commented on #158
Duplicate of #154

[2020-05-08 12:44] #158 closed

[2020-05-08 13:41] #154 closed

[2020-05-08 13:41] #159 closed

[2020-05-08 13:41] codebender828 commented on #50
This may not be a critical issue atm.

[2020-05-08 13:41] #50 closed

[2020-05-08 15:33] peoray commented on #144
I'd like to pick this up.

@codebender828 Can you provide more context, please?

[2020-05-08 16:28] #144 closed

[2020-05-08 17:36] codebender828 opened #173 "[Docs]: Add About Pages to Docs"
**Is your feature request related to a problem? Please describe.**
The case for these pages is to explain the case or Chakra UI Vue and why it was created.

**Describe the solution you'd like**
A list pages to address the following:
- [x] Why Chakra UI
- [x] Accessibility (Why?)
- [x] Constraint based design (Why?)
- [ ] Style props (The underlying technologies)
    - [ ] Convenient styling API

[2020-05-08 20:53] #173 closed

[2020-05-08 20:58] #151 closed

[2020-05-09 13:52] gustojs opened #178 "NaN in NumberInput when min/max value is exceeded"
**Describe the bug**
NumberInput field shows NaN and loses functionality when the min/max value limit is exceeded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue.chakra-ui.com/numberinput
2. Focus on input with min/max value
3. Press 0, so that value is 150
4. See NaN
5. Enter 15 again
6. Try to press up or down - doesn't work anymore

**Expected behavior**
Not sure tbh. I

[2020-05-09 14:27] codebender828 commented on #178
Noted! Thanks for catching this! Will look into this and try to fix it ASAP.

[2020-05-10 00:24] codebender828 opened #182 "[Docs]: Add props table for menu component"
**Describe the bug**
Currently the Menu component doesn't have a Props API table. This should be there. (https://vue.chakra-ui.com/menu)

Also the Menu docs page SEO component has the wrong values. This can be fixed at the top of the file.

**Expected behavior**
- Include all menu props in `menu.mdx` page
- Fix menu docs SEO component prop values

[2020-05-10 01:06] xewl opened #183 "Popover's CPopperArrow rotation resets on-update"
**Describe the bug**
The arrow in the Popover component looses its 45° rotation on-update.
The `CPopperArrow` component initially has styles:
`position: absolute; transform: translate(152px, 0px) rotate(45deg); left: 0px;`
which becomes:
`position: absolute; transform: translate(152px, 0px); left: 0px;`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://vue.chakra-ui.com/popover'

[2020-05-10 01:22] codebender828 commented on #183
I recently upgraded Popover to use V2. I think perhaps that's where this came from. I believe it  might need some style re-ordering. Thanks, @xewl !

[2020-05-10 07:37] codebender828 opened #184 "Bug: NumberInput ids are created at build time and not at component initialization time"
**Describe the bug**
CNumberInput component ids are created at build time and not at component initialization time.

This results in duplication

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue.chakra-ui.com/numberinput
2. Open dev tools.
4. See id's warning in console

**Expected behavior**
Id's should be generated only when the component is created.

**Screenshots**
![imag

[2020-05-10 07:50] tomsq opened #185 "[Docs] Scrolling to top when changing page"
**Describe the bug**
When I change a page in the documentation the scroll stays when it was on the previous page.

**Expected behavior**
I would expect that it always scrolls back to the top.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser chromium, firefox

**Additional context**
I would really wish this would be fixed because it makes browsing docs confusing.

[2020-05-10 13:34] #182 closed

[2020-05-10 13:34] #185 closed

[2020-05-10 13:52] Kelvinblaze opened #187 "Mobile Side Navigation does not scroll"
**Describe the bug**
The mobile side navigation does not scroll, it completely seems fixed as one cannot access other part of the links on the documentation.

**Expected behavior**
The mobile navigation is supposed to be scrollable.

**Screenshots**
![image](https://user-images.githubusercontent.com/32571579/81501023-e10e8e80-92cd-11ea-9f2d-dbe859b662dd.png)

[2020-05-10 14:13] codebender828 commented on #187
Hey @Kelvinblaze Thanks for catching this. It appears to be only happening on iPhones. Will look into this.

[2020-05-10 14:37] guastallaigor opened #189 "[Docs] Contributors link is broken"
**Describe the bug**

The contributors link is broken in the footer of the vue.chakra-ui.com page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue.chakra-ui.com/
2. Scroll down to the footer
3. Click on the contributors link
4. See 404 Not found page

**Expected behavior**
Go to a contributors page or the Github contributors [graph](https://github.com/chakra-ui/chakra-ui-vu

[2020-05-10 15:11] codebender828 commented on #189
Thanks for catching that @guastallaigor . Didn't spot it. Will look into it.

[2020-05-10 15:12] codebender828 commented on #189
Haha accidentally pressed close. 😂

[2020-05-10 15:40] lidachao111222 commented on #160
Hi Jonathan. Actually, I am using the chakra-ui(react) right now... but I would like to help for the chinese document.

[2020-05-11 00:12] peoray commented on #189
Seems this issue is fixed, although I didn't see any PR. Works for me, probably close this to avoid confusion :)

[2020-05-11 01:09] peoray commented on #184
Picking this up if it's still up.

So I'm a little bit confused.`id generation` is done by the `useId` function in `utils`. Either that or as a `inputId` prop passed by the user. What exactly do you mean by moving id generation to computed property?

[2020-05-11 01:26] codebender828 commented on #189
I don't think it is yet. It breaks on initial request. You can try doing a hard refresh on the contributors page. To see this.

The reason is because this page is not statically generate during deployment.

 This can be fixed by adding  the 'Contributors' to the `all-routes.js` file.

[2020-05-11 01:31] codebender828 commented on #184
Currently there's an `id` prop that has a default.

The problem is that since this function is called at build time, and not at component instantiation time, this can result in the same value each time time the the component is used in the template.

To solve this we need to move that function call to the computer property. You can see this in the RadioGroup component.

https://github.com/chakra-u

[2020-05-11 01:42] peoray commented on #189
Got you. That's the file in the `utils` folder in the docs directory?
Considering how that is arranged, where would be appropriate to include the `Contributors`?

[2020-05-11 01:47] peoray commented on #184
Might probably sound silly but isn't the `_inputId` already a computed property or is there something I'm missing?

[2020-05-11 09:35] #189 closed

[2020-05-12 06:29] codebender828 commented on #184
Hey @peoray ! Sorry for my late response. I haven't looked at this thread since yesterday.

Just looked at the file. Yes, you're right. we can use the `_inputId` variable It can be fixed by removing the `default` property on the `inputId` prop. That's what's causing the id duplication.

[2020-05-12 11:46] #178 closed

[2020-05-12 11:46] #183 closed

[2020-05-12 11:55] codebender828 commented on #160
Hi, @lidachao111222 ! Thank you so much. Looking forward to working with you! I have a few ideas for the Chinese docs, but I'd like to be able to hear what your thoughts are on how to proceed with this! Would you be open to a call on Discord/Zoom. Even for 30 minutes would be nice to establish a course of action.

The reason would be to find a way to minimize the amount of work duplication going o

[2020-05-12 11:59] codebender828 commented on #183
Hi @xewl ! This issue was fixed in the recent patch. You can upgrade to v@0.5.1 to see the changes! Thank you!

[2020-05-12 12:00] codebender828 commented on #178
Hi @gustojs  ! This issue was fixed in the recent patch. You can upgrade to v@0.5.1 to see the changes! Thank you!

[2020-05-12 23:25] codebender828 commented on #89
Merged in #194

[2020-05-12 23:25] #89 closed

[2020-05-13 00:53] #184 closed

[2020-05-15 02:49] lidachao111222 commented on #160
Hi, @codebender828 . Sure. What about weekend? Sorry, I am kind of busy  because of my job.

[2020-05-15 03:10] tian-xia2 commented on #160
@codebender828 Hey Jonathan, my friend @lidachao111222 sent me here. I am down for a meeting as well. Let me know what time works for both of you. I would prefer sometime in the late morning / early afternoon Beijing Time, which is evening time for me in central Canada. Talk soon and stay safe!

[2020-05-15 03:28] codebender828 commented on #160
Hey @lidachao111222 & @tian-xia2 ! thanks guys for the response! No worries. I'm happy to chat during the weekend. I have some time on Saturday morning 11:00am, Beijing time. Would that be a good time for us to chat?

Let's finalize the time on Discord! -> https://discord.gg/JDFmBE!

[2020-05-16 01:15] codebender828 opened #200 "[Typography]: Tame text baseline for predictable line-height and leading browser support."
**Is your feature request related to a problem? Please describe.**

Browsers natively do not implement a predictable "box" model for text elements.

![Browser implementation](https://i1.wp.com/css-tricks.com/wp-content/uploads/2020/05/EAm_gdcl.png?resize=1024%2C372&ssl=1)

In order to maintain a clear and consistent UI patterns for text components, like the `CText` and `CHeading` components ought

[2020-05-16 04:38] codebender828 commented on #160
For the record, please check #201 for the ongoing progress of this PR, as well as how to contribute!

[2020-05-16 11:53] codebender828 opened #202 "Chakra Plugin Types for autocomplete"
**Is your feature request related to a problem? Please describe.**
Users might need their editors to suggest possible plugin options for Chakr aUI when registering the Chakra plugin.

**Describe the solution you'd like**
Create type declaration files for the Chakra plugin to suggest these options for autocomplete.

**Describe alternatives you've considered**
JSDocs. The problem with this is that i

[2020-05-16 13:45] codebender828 commented on #160
#204

[2020-05-17 19:41] DominusKelvin commented on #202
@codebender828 I'd take this up.

[2020-05-17 19:44] DominusKelvin opened #205 "Setting default Color Mode in nuxt.config.js when using the @chakra-ui/vue plugin"
**Describe the solution you'd like**
The consumer of the @chakra-ui/nuxt module should be able to set the color mode in `nuxt.config.js`

[2020-05-18 19:35] gustojs opened #207 "[Docs] Add links between React and Vue websites"
**Is your feature request related to a problem? Please describe.**
Right now, when I google Chakra and open the React version, I can't switch to Vue. Same the other way.

**Describe the solution you'd like**
I'd like them to be linked together.

[2020-05-19 14:37] codebender828 commented on #87
I've decided I will not fix this until it becomes an issue.

[2020-05-19 14:37] #87 closed

[2020-05-20 15:13] pabueco opened #210 "Cannot find module '@chakra-ui/vue'"
**Describe the bug**
When using one of the latest versions (I tested 0.5.6 and 0.5.7) the module is not found. When checking the node_modules folder you can see, that the `dist` folder is missing. Only a `src` folder exists. So the main script (`dist/cjs/index.js`) does not exist.
Version 0.5.3 works.

**To Reproduce**
Steps to reproduce the behavior:
1. Install one of the latest versions (0.5.6 o

[2020-05-20 17:59] peoray commented on #205
I'd like to pick this up.

@DominusKelvin Can you provide more context as to what is required?

[2020-05-20 18:31] DominusKelvin commented on #205
@peoray basically a consumer should be able to set the default color mode for the entire app in the nuxt.config.json file.

[2020-05-20 18:32] DominusKelvin commented on #205
@codebender828 also have some more thoughts on it.

[2020-05-20 18:40] peoray opened #211 "Add a next or previous link at the bottom of the page"
**Is your feature request related to a problem? Please describe.**

I'm reading through the docs and I noticed there is no `next`  or `previous` link at the bottom of the page. I had to scroll back up to the section on the sidebar where the page I want to move to is. I believe this is bad for user experience.

Is this intentional or something we might want to work on?

**Describe the solution you'

[2020-05-21 02:14] codebender828 commented on #210
Hey @pabueco ! Thanks for catching this. Let me look into this.

[2020-05-21 02:19] codebender828 commented on #211
Hey @peoray . This was initially not something I had prioritized. But you're right. It can be good for ux.

We can create a component to do this. If you're interested in taking this on now, you can use the `$router.options.routes` option to get all the list of routes.

You can then use this array of routes to compare next and previous links

[2020-05-21 03:18] codebender828 commented on #210
Hey @pabueco !

Kindly install the latest version, `@0.5.9`! I've been trying to auto mate the CI process so there were a few hiccups. There's not many big API changes. Just internal optimizations from `@0.5.3` that help improve component performance. Let me know if you have any issues!

[2020-05-21 03:18] #210 closed

[2020-05-21 16:12] codebender828 commented on #205
@peoray @DominusKelvin

Thanks guys for taking this on. The default color mode would be best handled by the `src/Chakra/index.js` plugin. Since all the Nuxt module options are actually forwarded to the plugin and are handled by it, that's where it should be.

Include `defaultColorMode` as an option to the plugin. In the plugin you can add it as an option to the `$chakra` object. The `CThemeProvide

[2020-05-21 16:17] DominusKelvin commented on #205
@peoray I am hoping to assist on this if you need any. May the force be with you 😁

[2020-05-25 14:10] codebender828 opened #217 "[Docs]: Add search for documentation"
**Is your feature request related to a problem? Please describe.**
This feature would introduce search for the documentation site for Chakra UI Vue. This will allow easier navigation.

**Describe the solution you'd like**
Use [Algolia](https://www.algolia.com/) for search.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-05-25 14:59] peoray commented on #217
Signalling interest in this one. Willing to assist someone who knows what they are doing :grin:

[2020-05-25 15:18] codebender828 commented on #217
If you want to take the lead on this I can assign this to you. It's actually relatively simple. DM me your email on discord so I can copy you in on the emails between the Algolia team and myself.

https://docsearch.algolia.com/

The supposedly handle all the indexing for us. We just need to include a snippet. There are some other things that can be done to improve search here:

https://docsearch.a

[2020-05-25 19:55] lauragift21 commented on #207
Hey, @codebender828 if you need help here happy to take this on :)

[2020-05-25 21:25] peoray commented on #217
Gone through the docs. Algolia indexes the pages every 24hrs.
Did you apply already?

[2020-05-26 02:42] codebender828 commented on #217
Yes. I already did. They said they'll send us the snippet in the email thread.

[2020-05-26 02:48] codebender828 commented on #207
Hello @lauragift21 ! Thanks for taking this on! I'll assign this to you then! Here's how to get started with setup!

https://vue.chakra-ui.com/contributing#docs-contribution

After cloning the repo and creating a branch, you can do this:

[code]

If you have any issues, feel free to join the team's discord!
https://discord.gg/3F5ets

[2020-05-27 08:12] codebender828 opened #218 "[CHORE]: Remove vue-cli-service ESLint."
**Is your feature request related to a problem? Please describe.**
This project was originally built with Vue CLI 3 and has transitioned into a monorepo with lerna and yarn workspaces.

The challenge is that different packages end up having different ESLint configs. I'd like for these to be unified into one so contributors are able to contribute comfortable without insecurities about linting.

**D

[2020-05-27 08:12] codebender828 opened #219 "[CHORE]: Deprecate vue-cli-service ESLint & use base ESLint."
**Is your feature request related to a problem? Please describe.**
This project was originally built with Vue CLI 3 and has transitioned into a monorepo with lerna and yarn workspaces.

The challenge is that different packages end up having different ESLint configs. I'd like for these to be unified into one so contributors are able to contribute comfortable without insecurities about linting.

**D

[2020-05-27 08:13] #218 closed

[2020-05-27 09:45] Easybuoy commented on #219
Hi @codebender828, I can work on this.

[2020-05-27 10:45] codebender828 commented on #219
Hi, @Easybuoy . Great. Thanks for taking this on. I'll go ahead and assign this to you. Let me know if you have any problems. You can join the [team discord](https://discord.gg/Fu44Db) for quicker responses.

[2020-05-28 09:47] #219 closed

[2020-05-28 10:03] Easybuoy commented on #211
I'd like to take this on @codebender828

[2020-05-28 17:36] peoray commented on #211
@Easybuoy sure :). If you need help, do not hestitate to reach out

[2020-05-30 11:04] Easybuoy commented on #211
I'm having a bit of a problem with this, the links are jumping around because they're arranged alphabetically and not according to how they're represented on the side navigation.

[2020-05-30 14:21] codebender828 opened #226 "[CLI Tooling]: Add support for `create-nuxt-app`"
**Is your feature request related to a problem? Please describe.**
To make it simple for users to get started with Chakra UI Vue with Nuxt.js, we can include `Chakra UI Vue` as an option to the CLI template.

**Describe the solution you'd like**
Add Chakra UI Vue as an option to `create-nuxt-app`.

**Additional Context**
Should be added at the Create Nuxt App repo.

See:
https://github.com/nuxt/cr

[2020-05-30 15:37] izcream opened #227 "change default style in component"
How can I change default style for some component

Ex: I need to set default size of `c-input` to  lg (now i need to bind attr size in all input)

In Chakra-ui React I do it with `Input.defaultProps.size` its work normaly
so Can I do something like defaultPropsSize on chakra-ui-vue

Thanks

Ps. sorry for my bad english

[2020-05-30 15:57] Easybuoy commented on #226
I can attempt this @codebender828 :)

[2020-05-31 07:03] codebender828 commented on #227
Hey @izcream !

There's two ways you can do that. Whenever you import the CInput component, since it's just an object, before you register locally it in the template you can set the default value to `lg` like this:

[code]

The second option would be to set the default prop value it like in the code above and register it globally so that you don't have to do this every time you import it.

[code]

[2020-05-31 09:32] izcream commented on #227
Thanks for guide 😍

[2020-05-31 09:32] #227 closed

[2020-05-31 14:44] izcream opened #228 "is possible to add custom icon with slot?"
I have problem with custom icon In document tell only how to add in config
Is possible to do something like this ?

<img width="546" alt="Screen Shot 2020-05-31 at 21 39 44" src="https://user-images.githubusercontent.com/10282500/83355120-837ad880-a387-11ea-8110-928bd130e96b.png">

in chakra-react its easy to add custom with
<img width="847" alt="Screen Shot 2020-05-31 at 21 42 46" src="https://us

[2020-05-31 19:11] #211 closed

[2020-06-01 10:09] Easybuoy commented on #226
Would we have a page that the user sees after installing `chakra-ui-vue` as their UI framework?
@codebender828

[2020-06-01 10:13] codebender828 commented on #226
Yeah that's a good idea. I think other frameworks do have one. You can use the Nuxt Starter as a Template. You can get the link to the Codesandbox on the docs

[2020-06-01 13:53] lauragift21 commented on #207
Hey @codebender828 what do you think about these options for where to place the link to React site?
<img width="1440" alt="Screenshot 2020-06-01 at 2 50 30 PM" src="https://user-images.githubusercontent.com/17781315/83415762-89b89580-a417-11ea-8446-4dfd7f2eb706.png">
<img width="1438" alt="Screenshot 2020-06-01 at 2 50 43 PM" src="https://user-images.githubusercontent.com/17781315/83415767-8cb3860

[2020-06-01 14:39] peoray commented on #207
I prefer the first one :)

[2020-06-02 23:50] codebender828 opened #230 "[Feature]: Improve styling escape hatches for styles overide."
**Is your feature request related to a problem? Please describe.**
Currently in Chakra UI Vue, in order to apply a manual object of styles in the template as an escape hatch, you need to create the object in the template and and then bind the class to the element in the template.

This seems to work fine. However, after using this for a while, it seems quite verbose.

**Describe the solution you'd

[2020-06-02 23:55] codebender828 commented on #230
Happy to gather some feedback around this.

[2020-06-03 04:09] codebender828 commented on #228
Hey @izcream . I haven't actually tried this before. But I think it's work trying. I'll open a draft PR with a demo for you to play with to see how to works for you.

Re: Sidebar not being able to scroll:
 Yes.. I understand this issue is on mobile iOS devices? I haven't been able to reproduce it so I cannot debug it. If you're willing to look into it, I'd be grateful.

[2020-06-03 12:01] izcream commented on #228
Thanks for answer. Yes problem about slider its happen on IOS(not test on android device yet😅)

So i will closed this issue first and follow you instruction

[2020-06-03 12:01] #228 closed

[2020-06-03 21:00] koca commented on #230
Hey @codebender828!

API looks good to me:

[code]

[code]

Recently I was also thinking about integrating the `sx` prop from Theme UI. https://theme-ui.com/sx-prop/

The `sx` api is similar to `v-chakra="{}"` but it's more powerful than that. I'm sure you already know that.

**Example 1:** With `sx` we can support the basics:
[code]
**Example 2:** And the advanced stuff (this would be useful for

[2020-06-05 09:09] #207 closed

[2020-06-05 09:20] codebender828 commented on #230
Thanks, @koca ! Interesting. This escape hatch would also provide the same functionality as the `sx` prop. In our case we would replace `sx` with the `v-chakra` directive. So you can write actual CSS if you want to. 👍🏽

[code]

[2020-06-06 14:05] koca commented on #230
I know but its for advanced use cases where you need power of js say you want to darken the color using a color package or something etc.

[code]

[2020-06-07 12:24] Namchee opened #234 "[Bug] CFormLabel generates incorrect `for` tag"
**Describe the bug**

[CFormLabel component](https://github.com/chakra-ui/chakra-ui-vue/blob/master/packages/chakra-ui-core/src/CFormLabel/CFormLabel.js) has a `htmlFor` props to associate the label with a form control element.

[In this documentation page](https://vue.chakra-ui.com/formcontrol), this component does not generate a `for` attribute. Instead, it generates a `htmlfor` attribute at the

[2020-06-07 19:05] codebender828 commented on #234
Hey @Namchee Thanks for catching this. This in the docs should be `for` instead of `htmlFor`. Will update the docs with the fix.

[2020-06-08 01:19] #230 closed

[2020-06-08 21:17] jbienesdev opened #236 "[Docs]: Change logo text to vector path"
**Describe the bug**
The logo text (`chakra`) looks off when I view it on browser/mobile phone. `Inter` font needs to be installed in the system to view the font correctly.

**Expected behavior**
Logo text should be rendered correctly on any device without installing the font.

**Screenshots**
`Inter` font is not installed in the system:
![image](https://user-images.githubusercontent.com/17470909/

[2020-06-08 23:36] codebender828 commented on #236
Thanks @jbienesdev for this! Go ahead with the PR.🎉
The logo was honestly built on the fly so happy to see it improved!

[2020-06-09 00:10] jbienesdev commented on #236
Cool! @codebender828 I also noticed a typo on the front page. Can I include it with the PR?

`verison` -> `version`
![image](https://user-images.githubusercontent.com/17470909/84091970-a14fd980-aa28-11ea-802b-f9523c4908d5.png)

[2020-06-09 00:32] codebender828 commented on #236
Yes of course. Thank you, @jbienesdev . Nice catch!

[2020-06-09 01:16] jbienesdev commented on #236
@codebender828 can you re-open this issue? I noticed a bug on the text color when you're accessing the documentation. It's just a one line fix.

## DEMO
![chakra](https://user-images.githubusercontent.com/17470909/84095392-c72dac00-aa31-11ea-8ff1-d7665077863f.gif)

[2020-06-09 01:18] codebender828 commented on #236
Yeah just noticed it as well. The React text should also inherit the parent colors. You can remove the color prop to see if that resolves it or you can make use of the color mode. 👍🏽

[2020-06-09 01:22] jbienesdev commented on #236
Yeah. It's being overwritten with the style prop. Just gonna remove that one. Sorry about that.

[2020-06-09 17:39] izcream opened #240 "[Bug] CImage not show relative image from local assets folder"
**Describe the bug**
`CImage` component is not show image when call from `assets` folder

**To Reproduce**
Steps to reproduce the behavior:
import image from assets path(src/assets/...) image will not show

**Screenshots**

**Result**
![screenshot](https://i.imgur.com/UZhUkr4.png)

**folder structor**
![folder structure](https://i.imgur.com/YFuBVqR.png)

**Desktop (please complete the following in

[2020-06-09 23:51] #236 closed

[2020-06-09 23:58] codebender828 commented on #240
Oh. Good catch. Sorry about this inconvenience. I think i have an idea about what's going on.

I can suggest two workarounds for now.

**Workaround 1.**
Try including the asset path inside a `require()` statement. That might be the issue.

**Workaround 2.** (For latest version 0.5.11)
Try using normal `img` with the `v-chakra` directive

See docs: https://vue.chakra-ui.com/v-chakra

Let me know if

[2020-06-10 04:31] izcream commented on #240
v-chakra work fine awesome directive

Thanks 💚

[2020-06-10 16:05] wuyongzhi opened #241 "[BUG]: Performance issue with hundreds of CBox nodes."
**Describe the bug**
The input control's response to input is slow when there are too many components on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. create 100 `CBox` on a page, and a `CInput`
2. bind the `CInput` v-model  property to a var
3. input some text on `CInput`
4. You will see the respond is slowly

I create a repostory to show this issue, https://github.com/wuyongzhi

[2020-06-11 02:18] wuyongzhi commented on #241
Thanks for your help @codebender828.

I try to add a raw html input to the page , still occurrenced.

So I'm not sure how it's caused and have tried to look at the code, but don't yet know how to go about fixing it, I'll stay tuned and thanks again for your help!

[2020-06-11 12:03] codebender828 commented on #241
Hey @wuyongzhi !

Just to share a brief update. @koca and I have been doing some investigation here, and a large portion of the performance expense has to do with how the Chakra primitives are managing their `props`.

Because of the props architecture with Vue, quite a lot of logic runs in between merging of consumer + default props, and passing the styles object to styled system. We have some ide

[2020-06-11 15:55] izcream commented on #241
Same i found when bind v-model to component(ex slider/input) its will laggy😂
didnt try manual binding value and event yet😄

[2020-06-27 01:10] callumflack commented on #240
Good luck with your thesis!

[2020-06-29 01:29] codebender828 opened #246 "Documentation: Vercel deploy previews failing"
**Describe the bug**
Recently documentation deployments started to fail on Vercel. Need to debug and check with Vercel team what's causing this.

Based on logs it shows that the deploy didn't finish. So it hangs after generating all pages without ending the Node process.

**To Reproduce**
Steps to reproduce the behavior:
1. Open pull request
2. Deploy check always fails.

**Expected behavior**
Dep

[2020-06-29 03:23] codebender828 commented on #240
Thank you @callumflack !

[2020-06-29 03:51] codebender828 commented on #240
Hey, @izcream !

I did some investigating around figuring out how to bind local assets to the `CImage` component.

In a nutshell, `vue-loader` converts relative paths like `@/assets/path-to-img.jpg` into `require` functions automatically for you at build time. Unfortunately, this is not the case when it comes to custom components from an installed component library like Chakra UI Vue.

You can cir

[2020-07-04 02:15] codebender828 opened #247 "Proposal: CI Tooling Tooling for Component Performance Benchmarking"
**Is your feature request related to a problem? Please describe.**
Since we are a CSS-in-JS component library for Vue.js (which is typically not common), it's only prudent of us to make sure our components remain performant to an acceptable degree. In order for us to achieve this result, it should be measurable.

This issue proposes a way to keep track of the performance of our component releases.

[2020-07-14 01:26] #246 closed

[2020-07-16 19:13] codebender828 opened #251 "[Feature]: Add transitions for popover/drawer/menu/tooltip components"
**Is your feature request related to a problem? Please describe.**
To smoothen the UX around the entry and exit of off-canvas and popover-type components, I would like for us to have some CSS transitions.

**Describe the solution you'd like**
- Add transitions scale to the theme object for constrained transitions
- Allow users to define the transitions easing, duration, e.t.c for component
- Trans

[2020-07-16 19:57] #241 closed

[2020-07-17 17:44] codebender828 commented on #234
Closed by #258

[2020-07-17 17:44] #234 closed

[2020-07-17 17:44] codebender828 commented on #240
Closed by #258

[2020-07-17 17:44] #240 closed

[2020-07-17 17:44] codebender828 commented on #217
Done in #258

[2020-07-17 17:45] #217 closed

[2020-07-18 01:42] codebender828 commented on #226
Hey @Easybuoy ! How are you? Any progress with this? I can take it on if you feel you can't work on this right now.

[2020-07-18 01:44] codebender828 commented on #205
Hey @peoray @DominusKelvin ! How are you doing?

Have you made progress with this issue?

[2020-07-18 01:46] codebender828 commented on #88
For the record, this issue has been assigned to @saptaksengupta

[2020-07-18 04:20] saptaksengupta commented on #88
@codebender828 I have started working on it.

[2020-07-18 06:28] DominusKelvin commented on #205
Blimey! This fell through my he cracks I guess. @peoray haven't responded on this. @codebender828 have time for us to pair on this one?

[2020-07-18 09:12] Easybuoy commented on #226
Hi @codebender828, I'm great. I ran into an issue creating the starter template with `chakra-ui-vue`. I must have lost track of this task. I'd look into it again, and let you know if I'm still having that issue.

[2020-07-18 09:41] peoray commented on #205
Sorry, Kelvin. Did not remember this. Since we are in the same timezone, we can schedule a time and see what happens. Let me know what you think :)

[2020-07-18 09:42] codebender828 commented on #226
Cheers. Sure thing. Let me know if you have any issues 👍

[2020-07-18 09:47] codebender828 commented on #205
@peoray @DominusKelvin Cheers! Thanks, guys. I also agree that it might be easier for you to work on this. Let me know if you guys need some help with this. Cheers!

[2020-07-18 11:10] DominusKelvin commented on #205
This would be awesome. Let's hop on a zoom call later today.

[2020-07-18 11:12] peoray commented on #205
What Time?

[2020-07-18 16:17] Anmol270900 commented on #251
Hi! I am new here, and have been looking for beginner friendly issues. May I work on this one?

[2020-07-18 22:51] Easybuoy commented on #226
It's fine if I use the same content with the Nuxtcode sandbox starter for `chakra-ui-vue` right? @codebender828

This one https://codesandbox.io/s/chakra-ui-nuxt-demo-f8tq4

[2020-07-18 23:29] Easybuoy commented on #226
Pull request raised https://github.com/nuxt/create-nuxt-app/pull/573

[2020-07-18 23:30] Easybuoy commented on #226
Pull request raised @codebender828 https://github.com/nuxt/create-nuxt-app/pull/573

[2020-07-19 06:06] codebender828 commented on #226
Thanks @Easybuoy ! Reviewed the PR. Requested a few changes

[2020-07-19 11:07] codebender828 commented on #251
Hi @Anmol270900 Thanks for the initiative on this. ❤️

This issue is one that I'm taking ideas for now! I would like to implement the transitions in a way that the user can also modify them form the theme object. After giving it some thought I think that the level of complexity of it might be more than I initially thought. 🤔

If you have some ideas around implementing transitions fo the off canvas

[2020-07-19 13:32] codebender828 opened #263 "[Feature]: Auto-load Chakra components for Vue CLI with webpack."
**Is your feature request related to a problem? Please describe.**
In order to consume Chakra UI Vue components, users have to manually import each component line by line. The reason for this is to keep bundle sizes small with tree shaking.

The problem with this doing this manually is that it demands a lot of work to import the components manually if you have plenty of them in a single component.

[2020-07-19 13:34] codebender828 commented on #263
Currently doing some preliminary research around the issue.

[2020-07-19 14:18] Anmol270900 commented on #251
Hi @codebender828 ! 👋
Well, I am a beginner in Vue. Maybe I should search for other issues instead. 😅
Please go ahead with it. Eager to see how issues like these are sorted! 😃

[2020-07-22 08:51] codebender828 commented on #251
Hi @Anmol270900 ! Sure thing :D Are you familiar with Nuxt.js? I'd like us to add the Discord invite link to the website. If you'd like to work on this, I can create an issue and guide you on how to proceed 😀💪🏽

[2020-07-22 10:46] Anmol270900 commented on #251
Sure! That would be great. 😃

[2020-07-25 17:44] codebender828 commented on #263
Solved in [chakra-ui/chakra-loader#4](https://github.com/chakra-ui/chakra-loader/pull/4)

[2020-07-25 17:44] #263 closed

[2020-07-27 19:15] Easybuoy commented on #226
It's been merged @codebender828 🎉

[2020-07-27 23:46] afmire877 commented on #251
Hey @codebender828, I wanna try take a crack at this.

[2020-07-28 01:10] codebender828 commented on #226
Awesome! Let's test it out! Thank you for working on this!

[2020-07-28 03:41] codebender828 commented on #226
Was just poking around with this, and I realized that it doesn't install the latest version of `@chakra-ui/vue`. I think it only installs the version that was active at the time of us working on the CLI tool.

The current version of Chakra UI Vue is at `0.6.0` and but the installed version is at `0.5.11`. See image below for reference.

![Screen Shot 2020-07-28 at 11 37 30 AM](https://user-images.

[2020-07-28 07:17] Easybuoy commented on #226
So I think this might have to do with how `@chakra-ui/nuxt` installs the `@chakra-ui/vue` dependency.

Find the version that was specified for `create-nuxt-app` below
[code]

[2020-07-28 07:18] Easybuoy commented on #226
So I think this might have to do with how `@chakra-ui/nuxt` installs the `@chakra-ui/vue` dependency.

Find the version that was specified for `create-nuxt-app` below @codebender828
[code]

[2020-07-28 07:34] Namchee commented on #251
Hi @codebender828, I'm interested in working on this issue. Do you have any contribution guidelines?

As for applying the animation, we can try to use simple CSS class toggle for this or use GSAP (although I prefer simple CSS class toggle for this) since it's generally more performant.

[2020-07-28 14:06] codebender828 opened #267 "Community: Add Chakra Discord Channel to Documentation Nav"
**Is your feature request related to a problem? Please describe.**
In order give community members a place to discuss and get more interactive communications around solutions/problems/discussions in Chakra UI, a more asynchronous place is more suitable than issues.

**Describe the solution you'd like**
Open up Chakra Discord and include it in Docs Navbar

[2020-07-28 14:07] codebender828 commented on #267
@Anmol270900 Still want to take this on?

[2020-07-28 14:19] k16e-me opened #268 "Make Tabs Animate into View from Far Right"
**Is your feature request related to a problem? Please describe.**
This feature request is not necessarily related to any problem. I think it would greatly improve the user experience of the Chakra Tabs. Actually, I desired it because I'd seen it behave this way on most apps. Then I went looking and saw it exactly behave like that with. Vuetify JS. Then I knew I had to ask for it from Chakra.

**D

[2020-07-28 14:20] codebender828 commented on #251
Hey @afmire877 @Namchee !

Thanks for the initiatives on this. Honestly at this point in time I haven't yet come up with a crystal-clear, sure-fire way to handle the transitions. I'm also thinking about using pure CSS animations for this with `emotion` using the `<transition>` component. Since it's just a series of transition class names, I think we can come up with some ways to use CSS to create

[2020-07-28 14:25] k16e-me opened #269 "Collapse's hidden content is initially visible."
**Describe the bug**
First of all, on the site https://vue.chakra-ui.com/collapse, Collapse doesn't seem to be working. Then [on my test](https://lkn-v1-git-master.k16e.vercel.app/), where I'm building with it, when the page loads, Collapse content seems to be initially visible until it's hidden again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://lkn-v1-git-master.k16e.verc

[2020-07-28 18:36] Anmol270900 commented on #267
Yes @codebender828 , on it!

[2020-07-29 00:58] codebender828 commented on #269
Thanks for catching this. @k16e-me . I think this was caused by a typo in the docs. Will look into this.

I'm not sure I understood what you meant by the collapse initially showing its content 🤔. I took a look at your example in the test at this link:

https://lkn-v1-git-master.k16e.vercel.app/

And the collapse in this link hides it's content initially on page load until the button is toggled.

L

[2020-07-29 01:00] codebender828 commented on #267
Let me know if you need any help with this. You can access me in Discord or on this thread.

[2020-07-29 02:31] codebender828 commented on #226
Understood. I think I have some ideas to update the module before finally closing this. 👍🏽

[2020-07-29 05:24] k16e-me commented on #269
Hi, yes @codebender828, you did understand me. And thanks for taking a look. Hopefully, when that is fixed and I update/refresh that error should clear.

I'm pasting a short video link here to demonstrate what I'm experiencing. Thanks. https://www.loom.com/share/16e4533a0f8b42fea23bde1d48a1e015

[2020-07-29 07:06] Anmol270900 commented on #267
Hi @codebender828 , I ran into the error `Error: Cannot find module '@chakra-ui/vue'. Please verify that the package.json has a valid "main" entry  ` during initial setup.
I have explained the whole thing in the Discord Vue Documentation channel.
Please have a look and guide on how to proceed.
Thankyou.

[2020-07-29 08:45] Easybuoy commented on #226
Okay, I'm down to help with it if you want

[2020-07-29 08:45] Easybuoy commented on #226
Okay, I'm down to help with it

[2020-07-29 10:27] codebender828 commented on #226
I think for every version we release of the module we need to update the `cna-template` in Create Nuxt App for Chakra UI from the looks of it. I juts published the latest version of `@chakra-ui/nuxt` which is [`v0.0.8`](https://www.npmjs.com/package/@chakra-ui/nuxt). It installs the latest version of `@chakra-ui/vue`. I think we need to open another PR to CNA.

Also I think there should be a bette

[2020-07-29 13:04] Easybuoy commented on #226
I thought the idea of using versions like `^0.0.7` is that it installs any update till the package gets to a major release.

I did some reading, it would have been fine if the version of `@chakra-ui/nuxt` is greater than `1.0.0`, so we would not have to update it until it gets to a major release like `2.0.0`.

 So for now, it seems we would have to update it manually until we get to version `1.x.x

[2020-07-29 20:12] Easybuoy commented on #226
So I think `create-nuxt-app` has a bot that updates the dependencies regularly, so we wouldn't have to be creating pull requests for them manually @codebender828 .

See example [here](https://github.com/nuxt/create-nuxt-app/pull/580)

[2020-07-30 03:40] codebender828 commented on #226
Oh, that's interesting. I saw that the PR has updated with the most recent dependency updates so that's good. So do we just need to wait until it's merged?

[2020-07-30 12:57] Easybuoy commented on #226
Yes, we need to wait until it's merged

[2020-07-31 05:54] k16e-me commented on #269
Hi, @codebender828, should I take it this issue is to be considered and will be fixed and can go ahead and close it. Or should I leave it open until fixed? Thanks for the good work.

[2020-08-01 15:45] codebender828 commented on #226
Noted. Then I think we can close it 👍🏽

[2020-08-01 15:45] #226 closed

[2020-08-02 12:58] #267 closed

[2020-08-02 13:36] codebender828 commented on #269
Hey @k16e-me ! No worries. I'll close the issue once it's completely fixed 👍  I've updated the docs with the `CCollapse` fix. The actual initially visible problem requires an internal API change. Will let you know when it's ready. thanks for your patience with this.

[2020-08-02 13:38] k16e-me commented on #269
Sure. Thanks.

[2020-08-05 02:01] JamesForan opened #273 "Modify default :focus color"
Hello!

I am Just getting started with Nuxt and Chakra UI, and am trying to work out how to modify a theme.

I am looking for an easy way to customize the :focus color across my theme.

I can see in the components.scss file that this is set to a default as follows:

  &::focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  }

What is the easiest way to set this in Nuxt?

Ideally, I would l

[2020-08-05 02:16] codebender828 commented on #273
Hey @JamesForan ! Greetings!

You can change the focus shadow styles by using the `extendTheme` option in your `nuxt.config.js` file. Since the focus style is a using the CSS `box-shadow` style, you need to modify the `shadows` key

Here's how to do it:

[code]

Let me know if this works for you 🙂

[2020-08-05 02:20] codebender828 commented on #273
Regarding changing the focus style using the current theme, sadly we don't have it yet, so you would have to manually add it to the components, or modify `this.$chakra.theme.shadows.outline` to the value you want depending on the current color mode 🤔.

This however sounds like an interesting feature! 😀⚡Do you want to open a separate issue for it?

[2020-08-05 04:11] JamesForan commented on #273
Hey Codebender!

Thanks for the quick reply. Setting the extendTheme did not work for me. however, directly setting this.$chakra.theme.shadows.outline did the trick.

I will try and have a look into why this is the case later on, but for now, I am happy!

Cheers,

James 👍🏻

[2020-08-05 04:27] #273 closed

[2020-08-05 07:39] codebender828 commented on #273
That's great! Oh I think I might know why you the `extendTheme` option didn't work for you. It's likely that you installed an old version of `@chakra-ui/nuxt` with `npx create-nuxt-app`. I recently published a fix that patches it up. Try upgrading your version of `@chakra-u/nuxt`. That should fix the theme extension option for you.

[code]

Have you tried the new [`chakra-loader`](https://vue.chak

[2020-08-05 19:12] dombavetta opened #274 "Extended theme font family not being applied"
**Describe the bug**
Im attempting to extend the default theme by changing the font family used across the app. I looked through the source and noticed there were three font attributes "heading", "body" and "mono" that specified the font family to use within the components. I updated my my theme to override these values but it doesn't appear to take. See theme config below. Is this a misconfigurat

[2020-08-05 23:12] codebender828 commented on #274
Hi @dombavetta ! Sorry about the issue with the theme.

I recently published a fix for the theme merging problem in the latest version of `@chakra-ui/nuxt`.

Try running `yarn add @chakra-ui/nuxt` or with npm: `npm install @chakra-ui/nuxt`.

Let me know if this works for you ♥️🙏🏽

[2020-08-06 16:09] dombavetta commented on #274
@codebender828 I was on v0.0.7 - that did the trick, thank you!

[2020-08-06 16:09] #274 closed

[2020-08-10 01:04] DanielAlongE opened #275 "@chakra-ui/vue not bundled with type definition files"
**Describe the bug**
Could not find a declaration file for module '@chakra-ui/vue'. 'c:/Projects/bible-pwa/node_modules/@chakra-ui/vue/dist/cjs/index.js' implicitly has an 'any' type.
  Try `npm install @types/chakra-ui__vue` if it exists or add a new declaration (.d.ts) file containing `declare module '@chakra-ui/vue';`ts(7016)

**Expected behavior**
The typescript compiler expects to find .d.ts

[2020-08-10 03:15] DanielAlongE commented on #275
Apparently there is a work around.

1. You can add a shim file to the root folder eg. shims-chakra.d.ts

2. then paste the following into the file:

`declare module "@chakra-ui/vue" {
  import Vue, { PluginObject }  from "vue";

  export default class Chakra {
    static install(v: typeof Vue, o?: PluginObject<unknown>): void
  }

  export class CThemeProvider extends Vue {}
  export class CReset

[2020-08-10 04:00] codebender828 commented on #275
Hello @DanielAlongE ! Thank you for opening this issue. Also thank you for sharing the workaround for this.

I still think this is a solution we can include in the actual module, so I will re-open this issue for the sake of a more sustainable solution.

I don't have a very strong Typescript background, so if you're open to contributing toward this or even giving some suggestions for how to do it,

[2020-08-10 13:09] DanielAlongE commented on #275
@codebender828 I will start working on it right away

[2020-08-14 10:38] Namchee opened #277 "Consider adding `cross-env` as devDependencies for better development experience"
**Is your feature request related to a problem? Please describe.**
`storybook` script requires you to set environment variables called `STORYBOOK_VUE_DEV_TOOLS`. Unfortunately, `npm` scripts cannot set environment variables on Windows.

To solve this issue, I suggest adding [cross-env](https://github.com/kentcdodds/cross-env) before setting the environment variables. `cross-env` works on Windows,

[2020-08-14 16:03] codebender828 commented on #277
Good point. Thank you @Namchee.

@koca Since you're our Window's ninja, do you think you could help review this when it's implemented?

[2020-08-14 16:57] koca commented on #277
@codebender828 I use mac since 2015 (and will never look back) 😂  i do have a windows machine but for gaming maybe i can try there but idk let me see :D

[2020-08-14 16:58] koca commented on #277
I don't think its a good idea to develop sth on windows. I suggest using something like WSL 2 for better dev experience.

[2020-08-15 12:31] Namchee commented on #277
I haven't tried WSL2 yet since I have bad experiences from WSL. I'll give it a shot later.

Nonetheless, I'll create a pull request to address this issue as `cross-env` ensures maximum compatibility in most machines.

[2020-08-15 13:33] Namchee commented on #200
I can try working on this.

However, the basekick formula requires `gridRowHeight` and `typeRowSpan` value. Do we have a good reference value for those?

[2020-08-15 14:47] wopian commented on #277
That statement simply hasn't been true for the last 10 years. There are some low-level differences if you're interacting with the shell languages directly, like how Windows and *nix use a different syntax for environment variables but that and others are easily handleable.

There's nothing wrong with developing on Windows _without_ WSL(2) - it has excellent dev tooling and support like any other O

[2020-08-16 05:19] vishnumohanrk opened #278 "Docs: "Edit this page" leads to 404 on GitHub"
The "Edit this page on GitHub" link at the end of docs page leads to 404 page not found on GitHub.

[2020-08-16 05:54] codebender828 commented on #278
Thanks for catching this. @vishnumohanrk

I think it's because we changed the directory of the docs to `website`. I forgot to update the footer component accordingly.

[2020-08-16 06:02] codebender828 commented on #278
I can take fix it later this evening. Were you looking to contribute to the docs?

If you were then it might be of interest to you to know that the docs have been moved to the `website` directory in the repository root. 👍🏽

[2020-08-16 06:59] vishnumohanrk commented on #278
In [this file](https://github.com/chakra-ui/chakra-ui-vue/blob/master/website/components/FileContributors.vue), made the following changes.

![image](https://user-images.githubusercontent.com/51525368/90328588-186e9480-dfbb-11ea-9057-0e7daf52fc54.png)

and it redirects to the files in [this folder](https://github.com/chakra-ui/chakra-ui-vue/tree/master/website/pages)

Is this right? Shall I open a

[2020-08-17 05:02] codebender828 commented on #200
Hey @Namchee !Thanks for taking this on.

🤔 I currently don't know a lot about basekick's formula. So I don't yet know what the `gridRowHeight` and `typeRowSpan` are. Are these CSS properties? I couldn't find anything about them with a brief google search

[2020-08-17 05:03] codebender828 commented on #278
Yes this is it. Great! go ahead an open a PR for it if you're ready!

[2020-08-17 06:03] codebender828 commented on #278
Fixed in #279

[2020-08-17 06:03] #278 closed

[2020-08-17 06:03] codebender828 commented on #278
@all-contributors please add @vishnumohanrk for docs

[2020-08-18 07:54] Namchee commented on #200
Actually, those variables come from the link you references above, but [here's the quick link](https://css-tricks.com/how-to-tame-line-height-in-css/#getting-css-to-treat-line-height-like-leading).

In the browser, it looks like this

![magic](https://user-images.githubusercontent.com/32661241/90485853-4e9a4880-e162-11ea-86b7-c3cfff364e9b.png)

Basically, those two variables control how much red l

[2020-08-19 00:41] JamesForan commented on #273
@codebender828 Thanks for this. I finally got the extended themes working.

I was having an issue with upgrading in Nuxt. I had to force it to go @latest.
`npm install @chakra-ui/nuxt@latest --save`

That upgraded to 0.0.9 and now extended themes is working.

[2020-08-19 20:14] dombavetta opened #281 "Define an API to programmatically draw focus to focusable elements"
**Is your feature request related to a problem? Please describe.**
Currently unable to programmatically draw focus to chakra components.

**Describe the solution you'd like**
A standardized way to focus *focusable* elements. A couple potential solutions..

- consistent `ref` names - for instance, components like Button, Input, Select, etc.. can all have a `ref` available on the component named som

[2020-08-20 03:29] codebender828 commented on #281
Hey @dombavetta ! I also think this is a good observation.

Thank you for capturing this. Since we have an internal component API mixin used to create most components, I think this would be a good place to locate the `focus` method for components that are focusable.

For clarity, I believe the API you're proposing is something like this for focusable components👇🏽?

**In the consumer scope**
[code]

[2020-08-20 03:31] codebender828 commented on #281
At the moment, I'm focused on handling transitions for components (#251), happy to have someone work on this while I guide the direction of implementation.

[2020-08-20 14:47] dombavetta commented on #281
@codebender828 That is exactly the API I had in mind. In the example above you can use the `autofocus` attribute and the browser would take of of that focus for you, I find a `focus` method most useful in situations where you may have something like a multi step form. Think Google sign in - it first shows a form with a single input asking for email and then transitions to the next step asking for

[2020-08-20 17:26] #277 closed

[2020-08-27 12:18] ruslankonev commented on #227
Hi! How to make this with chakra-loader?

[2020-08-29 04:13] freality opened #283 "CReset "config" prop defined as Object, but used as Function"
The config prop on CReset is defined as an Object, but used as a function.

This results in `[Vue warn]: Invalid prop: type check failed for prop "config". Expected Object, got Function` when a Function is passed in. Although, the component works properly.

Passing in an Object results in `TypeError: this.config is not a function`.

Definition:
https://github.com/chakra-ui/chakra-ui-vue/blob/54022

[2020-08-30 11:02] codebender828 commented on #283
Hey, @freality ! Thanks for catching this! I must have forgotten to include the prop changes when I updated this component in the last refactor. Thanks for the catch. I'll also include some tests to make sure it doesn't break again. ❤️

[2020-08-30 11:03] codebender828 commented on #283
Also this issue is open for contribution!

[2020-08-30 11:04] codebender828 commented on #281
Hey Dom! Sorry I haven't been able to respond to issues as usually do. Been spending some time with family recently seeing as I lost some family members.

Yes I think the `createStyledAttrsMixin` function is perfect for the job. It's the mixin I was talking about. Are you thinking of taking this on?

[2020-08-31 15:59] peoray commented on #283
I'd like to work on this and also add the tests to check for this to prevent breaking in the future. @codebender828 I'll need pointers on the test file :)

[2020-08-31 18:04] dombavetta commented on #281
No worries, hope you are feeling refreshed! And yes I was thinking I could probably implement this. Slightly off topic, but I've noted a couple bugs I've encountered while working through my project. I'll start opening issues for those when I get some time to thoroughly investigate and determine its library level and not me misinterpreting documentation or just flat out consuming the components in

[2020-09-01 16:47] dombavetta opened #284 "Feature: Compute FormControl ARIA attributes"
**Is your feature request related to a problem? Please describe.**
To improve DX while implementing forms. Defining ARIA attributes can be tedious and verbose, in most cases we can offload some of this work and handle internally.

**Describe the solution you'd like**
Chakra should compute the values of the `aria-describedby` attribute on the form controls input element. This is applicable when usi

[2020-09-01 17:00] dombavetta opened #285 "Feature: Expose the CClickOutside component"
**Is your feature request related to a problem? Please describe.**
The `ClickOutside` component used by others components such as `Menu` provides value when composing custom components. For example, I had to implement an autocomplete component with a results menu that dropped down and needed to utilize the click outside feature to close that menu when the user clicked away. As mentioned before, we

[2020-09-03 15:00] codebender828 commented on #285
Hey @dombavetta thank you for opening this issue contribution. this is actually something I've been contemplating for a while now.

I used the `CClickOutside` component internally to build the menu components and some pop over components. it works well however I found it in the case where I needed to expose a list of elements inside the element I would like to watch it would break because it funct

[2020-09-03 15:32] codebender828 commented on #284
Thank you for this issue contribution, @dombavetta.

For reference I'll include the image you shared with me earlier here.

![unknown-1](https://user-images.githubusercontent.com/21237954/92135221-10c54180-ee3d-11ea-872e-6a668f0121b3.png)

I'd like to do some pondering around the implementation of this. So I'll use this thread to follow up this discussion 🤠

[2020-09-04 06:49] codebender828 commented on #283
Closed in #287

[2020-09-04 13:42] quannt opened #290 "[Docs]: Add overscroll-x hidden to the main container"
**Is your feature request related to a problem? Please describe.**
Scrolling the document site on iPhone feels "unstable" due to overflown content on the x-asis. Here's a video https://www.dropbox.com/s/fq82se4052th76w/Video%209-4-20%2C%2022%2032%2010.mp4?dl=0

**Describe the solution you'd like**
Adding `overflow-x: hidden` on `CBox` in `layouts/default.vue` . Here's a video
https://www.dropbox.c

[2020-09-05 03:13] codebender828 commented on #290
Hey @quannt ! Thanks for contributing this issue. Will look into this 👍

[2020-09-05 03:42] codebender828 opened #291 "[Docs]: is-centered prop should be added to the CModal component"
**Describe the bug**
In the `CModal` documentation page, the `is-centered` prop is added to the `CModalContent` wrong component. Should be added to the CModal component instead.

**Expected behavior**
Docs:is-centered prop should be added to the CModal component

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screen Shot 2020-09-05 at 11 34 00 AM](https://user-image

[2020-09-05 04:20] codebender828 opened #292 "[Bug]: `CInput` @input event not emitted when wrapped inside `CInputGroup` component"
**Describe the bug**
When the `CInput` component is wrapped inside the `CInputGroup` the @input event is not emitted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/gifted-torvalds-c9nud?file=/src/App.vue
2. Type in first input. Logs are not shown in console.

**Expected behavior**
`@input` events should be emitted for inputs wrapped inside the `CInputGroup` c

[2020-09-05 05:19] codebender828 opened #293 "[Bug]: `CSwitch` v-model breaks when `@change` event listener is added."
**Describe the bug**
Combining `v-model` with the `@change`  event listener when consuming the `CSwitch` breaks two-way binding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/cswitch-test-f9h5r?file=/pages/index.vue
2. Toggle second switch with `v-model`. It doesn't update it's v-model value when the `@change` event listener is present

**Expected behavior**

[2020-09-05 06:23] #290 closed

[2020-09-05 06:23] codebender828 commented on #291
Closed in #294

[2020-09-05 06:23] #291 closed

[2020-09-05 07:35] #283 closed

[2020-09-05 13:06] quannt commented on #187
Seems like a classic issue with `position:fixed` and overflow. Haven't tried it yet but perhaps replacing `position:fixed` with `position:absolute` could help?

[2020-09-05 13:46] #293 closed

[2020-09-07 06:58] fugaku commented on #292
Any workaround while waiting for the bug resolved ?

[2020-09-07 12:49] jessaleks opened #296 "[Typescript]: Theme values are not updated after modifying them in custom-theme.js, in a Vue TS project."
**Describe the bug**
After specifying some custom values in `custom-theme.js`, and after using `red.500`, the color that shows up is different from what I specified

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new Vue project with TS
2. Set up Chakra as you usually would (via @vue/cli)

- My implementation
[code]

3. Specify custom values in `custom-theme.js` such as
[code]

**Exp

[2020-09-07 14:53] codebender828 commented on #296
Hey, @jessaleks !

I'm not sure I understood the exact cause of the problem that you are facing. Could you provide a codesandbox reproducing the problem or a GitHub repo reproducing issue?

This will help determine how to best debug it.

[2020-09-07 15:03] codebender828 commented on #292
Hey @fugaku. At the moment I'm not really sure.

If it's urgent for your case, you could try using the native `@input` or `@input.native` events to get the input event and values.

Will take a look at this tomorrow since I have an idea on how this can be fixed.

[2020-09-07 17:03] jessaleks commented on #296
@codebender828 sure!

(Repo)[https://github.com/jessaleks/debug-chakra-app]
Here you go

[2020-09-08 03:26] codebender828 commented on #296
Hey @jessaleks.

Thank you. I just checked the repo you shared. It doesn't look like it has the code you want to reproduce. Could you double check to make sure?

[2020-09-08 10:19] jessaleks commented on #296
@codebender828 sorry, it should have everything right now.
It's a minimal app, however the problem still persists.

[2020-09-10 08:54] codebender828 commented on #296
Thanks for the repo link, @jessaleks . Unfortunately I haven't been able to reproduce this issue [here](https://github.com/codebender828/chakra-issue-merge-theme) in a JS environment. (Deployed [here](https://debug-chakra-merge-theme.vercel.app)) However I was able to reproduce it when I cloned your project. I'm not really sure why.

I currently have a limited knowledge of typescript to be able to

[2020-09-10 09:49] codebender828 commented on #292
Hey @fugaku I'm currently working on this, and I'd like to see your current use case for listening to events so I can decide how to go forward with the fix for this. Is there something in particular you wanted to do?

[2020-09-10 09:52] fugaku commented on #292
Hey @codebender828

Should I try to create a repo with my use case for you ?

[2020-09-10 10:22] jessaleks commented on #296
Thanks a lot @codebender828! I'll look for a solution on my end, as I am.

[2020-09-10 12:47] jessaleks commented on #296
@codebender828 in a Meanwhile, I'd say it would make sense to further discourage the usage of Chakra in Vue TS projects.

[2020-09-11 00:16] codebender828 commented on #292
Yes. That would be helpful. 👍🏽

[2020-09-13 02:15] freality opened #301 "[chore]: Improve contributor setup documentation for testing"
**Describe the bug**
When following the README.md instructions for contributing, testing fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo `git clone git@github.com:chakra-ui/chakra-ui-vue.git && cd chakra-ui-vue`
2. [Follow Contrib instructions](https://github.com/chakra-ui/chakra-ui-vue#development-for-contributing)
[code]
3. Run test suite `yarn test`
4. The `yarn workspac

[2020-09-14 14:12] cilice opened #302 "v-scroll-lock is licensed as GPL-3"
**Is your feature request related to a problem? Please describe.**
We are unable to use chakra-ui in a commercial product due to `v-scroll-lock` GPL-3 license. This is a show stopper.

**Describe the solution you'd like**
Ideally, no licenses of the dependencies should be GPL-like. Apache-licensed works for us, MIT does too.

**Describe alternatives you've considered**
Implementing an own wrapper

[2020-09-14 15:53] cilice commented on #302
Update:

@phegman changed the license of `v-scroll-lock` to `Apache-2` in the newest version `1.3.1 🎉

[2020-09-14 15:53] #302 closed

[2020-09-14 19:54] koca opened #303 "[bug]: Include missing style props"
https://github.com/chakra-ui/chakra-ui-vue/blob/f06b2c5f2a8afcf201a4e0f8fae0939c0257be6b/packages/chakra-ui-core/src/config/props/props.js

Not working:

- flexGrow
- borderTopLeftRadius (roundedTopLeft works)
- borderTopRightRadius
- borderBottomRightRadius
- borderBottomLeftRadius

WIP: i'll update the list if i find more.

[2020-09-15 02:53] codebender828 commented on #301
Good point. This problem was caused by a lack in the documentation process for contribution. I think the best way to improve it going forward would be to include the `yarn build` step on project setup in the documentation.

Would this suffice?

[2020-09-15 02:59] codebender828 commented on #303
Thanks, @koca. Good catch. These can also be included incrementally as we find them.

[2020-09-15 08:14] codebender828 commented on #302
Good news! Thank you @phegman! ❤️

Excited to see your project fly, @cilice 🚀

[2020-09-15 12:30] #303 closed

[2020-09-17 06:49] codebender828 opened #307 "chore: Include chakra-loader webpack plugin by default."
**Is your feature request related to a problem? Please describe.**
We recently introduced the [`chakra-loader`](https://github.com/chakra-ui/chakra-loader) webpack plugin to the Chakra UI Vue community to help with auto importing and registration of Chakra components used in the Vue templates. At the time of writing this issue, `chakra-loader` is not provided out of the box for new projects.

It a

[2020-09-17 13:24] codebender828 opened #308 "feat: Merge `CThemeProvider`, `CReset` and `CColorModeProvider` into `CChakraProvider` component"
**Is your feature request related to a problem? Please describe.**
Currently, When creating a new Chakra UI Vue application, the user needs to import 3 components to get started. These components are purely setup components:

[code]

**Describe the solution you'd like**
A new component called `CChakraProvider` that composes all three components into one and accepts a `resetCss` prop that determine

[2020-09-17 13:24] codebender828 opened #309 "feat: Merge `CThemeProvider`, `CReset` and `CColorModeProvider` into `CChakraProvider` component"
**Is your feature request related to a problem? Please describe.**
Currently, When creating a new Chakra UI Vue application, the user needs to import 3 components to get started. These components are purely setup components:

[code]

**Describe the solution you'd like**
A new component called `CChakraProvider` that composes all three components into one and accepts a `resetCss` prop that determine

[2020-09-17 13:25] codebender828 commented on #308
Duplicate of #309

[2020-09-17 13:25] #308 closed

[2020-09-17 19:44] koca commented on #309
It seems better and what about `config` prop on `CReset` component? How are we gonna pass?

[2020-09-17 23:54] codebender828 commented on #309
Good point. I think we can:

1. Use the same `resetCss` prop such that it accepts `[Boolean, Function]` types.
- default value is `Boolean(true)`
- if it's `false`, we do not render the `CReset` component.
- if the type is `Function` then we render the `CReset` and provide the `resetCss` function value to the `CReset` component.

2. Provide another prop to the `CChakraProvider` called `resetConfig

[2020-09-18 05:16] koca commented on #309
Both fine but yeah lets go with 1 👍

[2020-09-18 10:57] harrytran998 opened #310 "Add more new properties css"
**Is your feature request related to a problem? Please describe.**
Instead of using `<c-flex justify="center" align="center">` --> `<c-flex place-content="center`>

**Describe alternatives you've considered**
Yeah, I want to apply the new css properties, like
`place-content`, `place-items`, and `place-self`

[2020-09-18 12:59] JessicaSachs opened #311 "Create Nuxt App + ChakraUI + Nuxt + Static fails on initial project scaffold (CAvatar and CAvatarGroup components)"
**Describe the bug**
Throwing errors when scaffolding a basic project in Nuxt with Chakra in Static mode

[code]

**To Reproduce**
Steps to reproduce the behavior:

Create a project (or clone [my example](https://github.com/JessicaSachs/chakra-nuxt-static-example))
[code]

Then...

1. Go into the newly created project
2. Run yarn dev
3. Navigate to your app
4. See that the console throws an error

[2020-09-18 13:11] codebender828 commented on #310
Hey, @harrytran998 ! Thanks for catching this! I'll be sure to add them.

Up until this point, I've been updating our properties manually as encountered. As a more concrete solution, it would be better to keep track of them using a more complete set of all Chakra CSS properties

[2020-09-18 13:12] JessicaSachs commented on #311
(Initially reported here https://github.com/nuxt/nuxt.js/issues/8093)

[2020-09-18 14:54] dombavetta commented on #285
I didn't realize you already had a directive in there. Since that already exists I don't see a need to support both variants. Personally I would always opt to use a directive over the component.

[2020-09-18 15:27] dombavetta commented on #292
Hey guys, I ran into this as well during my development but forgot to record it to later create an issue. This problem is not only isolated to the `input` event, you will also experience this with others such as `focus` and `blur`. The `.native` workaround proposed by @codebender828 will work in the meantime, however, I would like to pose an additional workaround that I found myself using. Oddly e

[2020-09-18 15:37] sykes10 commented on #116
Hi, @codebender828 I would like to help with the integration of Vue 3. Maybe we can arrange a call and you can explain in detail what are your thoughts on what you have and see what we can do from that point.

[2020-09-18 18:05] galaxyblur opened #312 "theme.fonts.body is not being applied to CReset"
**Describe the bug**
`theme.fonts.body` is not being applied. (I am using the latest version of chakra-ui/nuxt, 0.0.13.)

**To Reproduce**
Steps to reproduce the behavior:
1. Extend theme in nuxt.config.js with extendTheme
2. Add `fonts.body`
3. Build site
4. Inspect any plain body element and see that it uses `html { font-family: sans-serif }` and not the theme's value.

**Expected behavior**
I w

[2020-09-19 03:16] ryanC1993 opened #313 "[Bug] CInputLeftElement always on the top even open CDrawer"
### Describe the bug
I found if the input component uses `CInputLeftElement` component, and opens the `CDrawer`, the CInputLeftElement still shows and not covered by CDrawer modal.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://vue.chakra-ui.com/input
2. Open Inspector, use the mobile view.
3. Click nav menu burger at the right top
4. See error
<img width="722" alt="截圖 2020-09

[2020-09-19 07:20] codebender828 commented on #116
Hey @sykes10 ! Thanks for reaching out! That's a good idea. This weekend I'm going to be publishing the roadmap for the Vue 3 version of Chakra UI Vue.

I'd be happy to discuss with you after I release it. Wanna reach out on our discord?

https://discord.gg/sq2Kp6x

[2020-09-19 08:28] sykes10 commented on #116
Thanks for the link. Already joint

On Sat, 19 Sep 2020 at 08:20, Jonathan Bakebwa <notifications@github.com>
wrote:

[2020-09-19 11:39] mambisi opened #314 "CSelect disabled not working"

[2020-09-21 11:10] pi0 commented on #311
Hi. Reference error should be resolved with [nuxt@^2.14.6](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.6). Maybe with upgrading you can investigate easier to see whats issue with `CAvatar` component.

[2020-09-21 13:23] codebender828 commented on #311
Thanks @pi0 ! Will upgrade and check it out.

[2020-09-21 13:30] codebender828 commented on #314
Hi @mambisi.`CSelect` can be disabled by passing the `is-disabled: Boolean` prop. For reference please see: https://vue.chakra-ui.com/select#props

[code]

Closing.

[2020-09-21 13:30] #314 closed

[2020-09-21 13:32] codebender828 commented on #313
Hey @ryanC1993 ! Thanks for opening this issue. Will look into this!

[2020-09-21 15:08] codebender828 commented on #311
Hey @JessicaSachs!

Thanks to @pi0's advice, upgrading to [nuxt@^2.14.6](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.6) seemed to fix it. Try running upgrading on your project as well.

[2020-09-21 15:16] codebender828 commented on #312
Hey @galaxyblur ! Thanks for opening this issue.

Do you want to create a [codesandbox](https://codesandbox.io/s/vue) to reproduce this so I can see it in code? Had trouble understanding how you were using the `fonts.body`.

[2020-09-21 15:42] galaxyblur commented on #312
Sure. Per this page https://vue.chakra-ui.com/extending-theme I would expect the following to work: https://codesandbox.io/s/funny-visvesvaraya-wqr7t

[2020-09-23 08:58] harrytran998 opened #320 "Use toast in Vue 3 Composition API --> this[sourcekey] is undefined"
**Describe the bug**
Istead of using `this.$toast` in Vue 2, I use `setup()` function like this

[code]
But in after do this, it show the Vue error warning in consle log
![image](https://user-images.githubusercontent.com/24296018/93989982-c3d9e880-fdb4-11ea-9c75-8655439b2f1b.png)

Then I clicks on CAlert:43, see here
![image](https://user-images.githubusercontent.com/24296018/93990081-e1a74d80-fdb

[2020-09-23 17:18] codebender828 commented on #116
For the record, I just updated this issue's roadmap description with the v1 release roadmap

[2020-09-25 14:01] goetsu opened #322 "collapse component hidden state"
**Describe the bug**
by default the hidden panel of the collapse component is generated like <div data-chakra-component="CCollapse" style="overflow: hidden; opacity: 0; height: 0px; visibility: visible;">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue.chakra-ui.com/collapse
2. inspect code of component

**Expected behavior**
when not visible the panel must be hidden with v

[2020-09-26 11:50] codebender828 commented on #312
Thanks for the reproduction link. I now see what you mean. For this the CReset component would need to read the values from the theme object. Sounds like something that can be done in a new feature.

[2020-09-26 11:52] codebender828 commented on #312
If you're open to opening a new pull request for this that would be great. I soon intend to focus my efforts on the Vue 3 support version of Chakra UI Vue.

[2020-09-26 13:07] #310 closed

[2020-09-26 13:23] codebender828 commented on #312
No worries! Opened a pull request to fix this here: #323

[2020-09-26 13:53] #312 closed

[2020-09-26 14:24] galaxyblur commented on #312
Thanks, but what does theme.fonts.body do if not this? I mean, is this really a new feature request or a bug?

[2020-09-26 14:39] codebender828 commented on #322
Hey @goetsu ! Thanks for opening the issue. I didn't quite understand the description of the issue. Do you want to clarify what you meant?

I did however understand your point about the `visibility: hidden`. I think you make a good point about this.

[2020-09-26 15:06] #313 closed

[2020-09-26 15:07] codebender828 commented on #320
Hi @harrytran998 ! Thanks for the issue contribution.

Interesting. I haven't really encountered this problem yet. Could you share a link to a codesandbox with this issue so I can understand it better?

[2020-09-26 15:52] goetsu commented on #322
sorry I updated the description the code part was missing

[2020-09-26 17:56] codebender828 commented on #292
Thanks for sharing, @dombavetta ! There's a couple of caveats with how functional components handle events for cloned children. So seeing how people are using these events is helpful. I was considering rewriting the `CInputGroup` to a stateful component, but was holding off for a bit.

[2020-09-30 02:56] #307 closed

[2020-10-02 06:54] harrytran998 opened #335 "[ChakraLoaderPlugin Error] No matching rule for vue-loader found"
**Describe the bug**
When I upgrade @charkra/ui-nuxt version from `0.0.13` to `0.1.0` --> This had an error.

[code]

**Expected behavior**
I upgrade this package because I want my team work with the new properties CSS like `place-content="center space-between"`. So hope you or your team will fix it!

**Screenshots**
![image](https://user-images.githubusercontent.com/24296018/94895682-18b4e780-04b

[2020-10-03 07:58] Namchee opened #336 "[Documentation] Search box overlaps with code box when expanded"
**Describe the bug**
The algolia search box suggestion overlaps with any code box present on any documentation page that contains code box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the website](https://vue.chakra-ui.com)
2. Navigate to any page that contains a code box, for example [here](https://vue.chakra-ui.com/getting-started).
3. Trigger the search suggestion by typing any

[2020-10-06 14:40] harrytran998 opened #338 "Add the new utilities like Inset in TailwindCss"
**Is your feature request related to a problem? Please describe.**
Actually, instead of using
[code]
We can replace them with [`inset-0` like Tailwind](https://tailwindcss.com/docs/top-right-bottom-left)~

**Describe the solution you'd like**
I think Chakra should have utilities folder in `lib/theme` folder on `chakra-ui-core` --> People can customize this like others

**Describe alternatives you'

[2020-10-08 20:21] dombavetta commented on #335
Hey @harrytran998, can you provide a link to a reproducible product? I attempted to recreate the issue in [this CodeSandbox](https://codesandbox.io/s/chakra-ui-vueissue335-i1tqm) but was unsuccessful. Feel free to fork the sandbox in an attempt to reproduce. The sandbox currently uses @chakra-ui/nuxt v0.0.13, I attempted to upgrade to v0.1.0 and was not blocked by the issue you described above.

[2020-10-09 08:42] bmulholland commented on #335
@dombavetta The sandbox you linked is broken, so I can't use it to reproduce. Steps to break the sandbox: 1. Fork it, 2. Make any change (whitespace) to package.json 3. CodeSandbox refreshes packages and the project breaks.

Here's a video: https://recordit.co/UYAV3fjSgT

[2020-10-09 09:12] bmulholland commented on #335
Well, I got it working, not sure how considering that breakage.

@dombavetta here's a working repro. Aside from upgrading to 0.1.0, the other key piece is to add the chakra-loader package and configure it in nuxt.config.js. (I also had to restart the CodeSandbox server for it to show up). Those are the only changes I made.

https://codesandbox.io/s/chakra-ui-vueissue335-forked-vc4uo?file=/package.

[2020-10-09 09:21] bmulholland commented on #335
Well, I figured out a way to fix it: use [the new auto-import configuration provided with 0.1.0](https://vue.chakra-ui.com/auto-import-components#with-nuxt.js). This was mentioned in the [Changelog](https://github.com/chakra-ui/chakra-ui-vue/blob/develop/packages/chakra-ui-nuxt/CHANGELOG.md#010). However, neither the changelog nor the docs indicate that this is a **breaking change**, and that proj

[2020-10-10 05:43] codebender828 commented on #338
Great idea! Thanks.

[2020-10-10 05:44] codebender828 commented on #336
Hey @Namchee Thanks for capturing this. I also appreciate having opened a pull request along with it!

[2020-10-10 05:53] codebender828 commented on #335
Hey @harrytran998  @bmulholland ! Thanks for helping us catch this issue.

Thanks @dombavetta For running point on this so far.

I suspect this issue might have to do with the indexing of the webpack plugin registration from inside the module. I can investigate this today to see why it differs from when it's manually configured in the `nuxt.config.js` file. It may need a bit of baby-sitting to do.

[2020-10-10 05:55] codebender828 commented on #335
@harrytran998 For your project, As a workaround, your team can still use the `place-content` properties by upgrading the `@chakra-ui/vue` package independently to `v0.6.6`

[2020-10-10 23:55] codebender828 commented on #335
**Solution**
1. For **`@chakra-ui/nuxt@^0.1.0`**, In your `nuxt.config.js` file, you no longer need to install the `ChakraLoaderWebpackPlugin` in `build.extend` option. This handled internally.
2. This also means that you no longer need to install the `chakra-loader` package yourself, since it's an internal dependency for the `@chakra-ui/nuxt@^0.1.0`.

**The cause of the issue**
After digging into

[2020-10-11 06:24] Namchee commented on #200
After a lot of experiments, I think I can implement this feature with 1 extra library. However, my solution only works on normal system font-stack (`system-ui`) since font family _runtime_ detection is unsupported at the moment.

If you still agree on that, can I submit a PR for this?

[2020-10-11 15:49] #336 closed

[2020-10-11 20:49] bmulholland commented on #335
@codebender828 I was reflecting on this and realized that actually the package is a 0.x version, which probably means that some breakage is to be expected. The higher expectations and semver probably come after 1.0.0. My bad on bringing those expectations too soon! So IMHO it's probably fine to do this. Perhaps a one-line update to the changelog to state that action is required on upgrade would be

[2020-10-12 18:35] PoluosmakAndrew opened #340 "CColorModeProvider: Multiple root nodes returned from render function. Render function should return a single root node"
**Describe the bug**
Have an error when used CColorModeProvider

**To Reproduce**
Steps to reproduce the behavior:
1. Add code to main.js

[code]

2. Open Application
3. See error (application does not render):

[code]

**Expected behavior**
App working with any errors

**Desktop:**
 - OS: MacOS 10.15.6
 - Browser chrome
 - Version 86.0.4240.75

**Additional context**
Version of Plugins:

- Chakra

[2020-10-12 19:50] dombavetta commented on #340
I cant speak for how @codebender828 intended the `ColorModeProvider` component to work by accepting only one or many child components but I can provide a workaround for the time being. Wrapping the `ColorModeProvider`'s slot content in a `Box` should get you past this issue for the time being.

[code]

[2020-10-18 15:46] everchanger opened #342 "Breakpoint aliases does not seem to work with "@chakra-ui/nuxt""
**Describe the bug**
When using "@chakra-ui/nuxt": "^0.1.0", I cannot get "aliased" breakpoints to work. Using the array syntax to specify the different properties works as expected. This might be an misconfiguration but I've been debugging for a while and I cannot find a solution.

**To Reproduce**
Steps to reproduce the behavior:
Setup an nuxt app with @chakra-ui/nuxt and @nuxtjjs/emotion.
Add t

[2020-10-21 04:08] gbruins-notours opened #343 "Toast: setting 'duration' to null results in toast not displaying"
**Describe the bug**
The [docs for the Toast component](https://vue.chakra-ui.com/toast) say: "Duration before dismiss in milliseconds, or null to never dismiss.".   However setting a duration of null results in the toast not displaying at all

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue.chakra-ui.com/toast
2. In one of the "Editable Example" boxes, change "duration: 100

[2020-10-21 04:17] gbruins-notours opened #344 "Toast: expose closeAll() method from breadstick"
**Describe the bug**
CToast uses '[breadstick](https://www.npmjs.com/package/breadstick)' under the hood.   Breadstick provides a helpful '[closeAll()](https://www.npmjs.com/package/breadstick#-close-all-notifications)' method that CToast should expose, if possible.

[2020-10-21 04:49] gbruins-notours opened #345 "Toast: CCloseButton will overlap a long title"
**Describe the bug**
The CCloseButton ("X" icon) in the toast will overlap the toast title if the title is long enough.   There doesn't appear to be an elegant way for the client to fix this aside from writing some awkward CSS using multiple attribute selectors.  Something like this to add more right-side padding to the box that contains the title/description:

[code]

**To Reproduce**
Steps to re

[2020-10-21 13:05] bmulholland commented on #269
@codebender828 Depending on the complexity of this change, I might be willing to take it on (it's quite visible in my product demo so I'm motivated to get it fixed!). Are you open to a PR for this bug? Could you share a bit more about the internal API change you had in mind? I'm guessing it has something to do with the CAnimateHeight approach?

[2020-10-21 13:06] callumflack commented on #46
HI @codebender828 can you please post a valid link to the Vue Chakra Discord?

[2020-10-22 02:15] gbruins-notours opened #346 "Toast: does onClose callback function work?"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Toast docs page](https://vue.chakra-ui.com/toast)
2. Update an editable example by adding these properties to the $toast config object:
[code]
3. Open you browser's javascript console.
4. Click the respective "Show Toast" button
5. Expect to see "ON CLOSE" printed in the console

**Expected behavior**
Nothing is printed in the console

[2020-10-22 02:17] gbruins-notours commented on #346
Also, should the onClose callback be called when the toast vanishes after the specified 'duration' period?

[2020-10-22 14:17] dombavetta commented on #46
@callumflack [Heres a Discord invite link for you ](https://discord.gg/xNXJNrG) 😃

[2020-10-24 10:56] calebeaires opened #347 "Chakra-UI CDN support"
Is is possible to use Chakra-UI with CDN built in to deliver compiled JS and CSS to your project

[2020-10-31 05:59] harrytran998 opened #348 "C-tag varience-color auto generate with color .500"
**Describe the bug**
Like the title 🙈

**Expected behavior**
User can customize whatever color they want in that

**Screenshots**
In here, I want to use gray.200 --> Chakra generate with that color :(
![image](https://user-images.githubusercontent.com/24296018/97772337-9ed95200-1b78-11eb-9645-2e388ebebb49.png)

[2020-11-06 09:56] Maskim opened #349 "<c-input-group> block event on input"
**Describe the bug**
I have this structure :
[code]

When I change the value of the input the @input event is not fired.

**Expected behavior**
@events needs to work when using this structure :)

**Desktop (please complete the following information):**
 - OS: Mac Hight Siera
 - Browser Firefox dev edition
 - Version 81.0b9

[2020-11-06 10:53] bmulholland commented on #349
This isn't very answerable on its own. I'd suggest first getting it down to a shorter repro, eliminating extras:

* Does this still happen when you take out the `c-input-right-element`? If you take the input out of the group?
* Does it still happen if you change `checkUsernameAvailability` to something more basic?
* How do you know `checkUsernameAvailability` is set up properly?

[2020-11-12 19:08] dombavetta commented on #349
Hey @Maskim, this is already being tracker in issue #292, there are several work arounds indicated in the thread. Please move any discussion over to there.

[2020-11-12 19:09] #349 closed

[2020-11-12 19:15] dombavetta commented on #348
@harrytran998 Can you please provide a project to help reproduce the issue, [CodeSandbox](https://codesandbox.io/) or [CodePen](https://codepen.io/) for example. Even a screenshot or code snippet from your project would help us to diagnose or troubleshoot this for you!

[2020-11-22 12:51] #348 closed

[2020-11-23 15:14] IHIutch opened #351 "GridItem component"
**Is your feature request related to a problem? Please describe.**
I noticed the React library has a GridItem component, this seems helpful for configuring column spans and such. I am much more of a bootstrap person, so I'm used to classes like `col-md-8`, `offset-md-8`...

**Describe the solution you'd like**
A component that accepts props like `colSpan`, `colStart`, `colEnd`...
See: [https://cha

[2020-11-27 07:50] JackieBinya opened #352 "Import path to emotion module broken"
**Describe the bug**
I am working on a brand new vuejs(Vue 2) project in my local.
I followed basic project set up instructions used Vue CLI to scaffold the app, used npm to install chakra-ui-vue, configured chakra in _~/main.js_ and then I launched my dev environment.

The app is broken the homepage is not rendered - its blank and on the console I got the message shown in the screenshot below:

*

[2020-11-27 09:49] codebender828 commented on #352
Hello @JackieBinya. Thanks for catching this. Will take a look at it as
soon as I can and get back to you on this thread.

On Fri, 27 Nov 2020, 15:50 JackieBinya, <notifications@github.com> wrote:

[2020-11-28 22:54] outofgamut opened #353 "Menu does not work with v-if"
When I put the menu component inside <template v-if="someCondition"></template> and someCondition's value toggles, the menu component doesn't show/hide as expected.

**To Reproduce**
https://codesandbox.io/s/chakra-ui-vue-starter-forked-kmy99?file=/src/main.js

**Expected behavior**
Menu button should show/hide when "toggle menu" button is clicked.

**Screenshots**
None

**Desktop (please complete

[2020-11-30 13:37] k16e-me commented on #269
Hi @codebender828 and all, just reloading the main site https://vue.chakra-ui.com/collapse and noticing this issue isn't fixed still...is it in the queue or something?

[2020-11-30 13:57] k16e-me opened #354 "Huge White Space at End of Scroll"
**Describe the bug**
There's gulf almost half of screen white space on the /switch page.

![image](https://user-images.githubusercontent.com/52034326/100618475-2eab2100-331c-11eb-8aa3-e1541da3ba1c.png)

**To Reproduce**
Click on or navigate the Switch component page and scroll down.

[2020-12-06 18:29] Haberkamp opened #355 "NumberField has NaN value"
**Describe the bug**
Pressing the <kbd>Backspace</kbd> when the number input has a negative value the content of the number field will be `NaN`.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter `-1` in the number input
2. Press <kbd>Backspace</kbd> key.
3. `NaN` will be shown inside the number input

**Expected behavior**
The content of the input should be `-`

This bug occours on every

[2020-12-08 07:03] romain130492 opened #356 "TextArea: Error when using the events @change and @input"
**Describe the bug**
Hey @codebender828 , I wanted to use the `text-area` [component ](https://vue.chakra-ui.com/textarea#page-content) but I get two issues :
* when using the event `@change` : ` <c-textarea v-if="isTextArea" placeholder="Insert your text" v-model="text" @change="handleText" />`, i got that error **a is not a function** (you can see the screenshoot below)
* when using the event `@

[2020-12-08 13:14] johnxiongs opened #357 "Props 'isOpen' not found in the source of the Cmenu Component"
**Describe the bug**
Props 'isOpen' not  found in the source of the Cmenu Component

**To Reproduce**
[code]

**Expected behavior**
 I want the menu opened when mouse over the button, but it didn't get work,
 and I didn't find  'isOpen' in source

**Screenshots**
![image](https://user-images.githubusercontent.com/37213061/101488184-3d3bad00-399a-11eb-98a9-e9eecc444d00.png)

[2020-12-08 13:27] johnxiongs opened #358 "Drawer displayed error on IPhone 8 plus, can not show the c-drawer-footer"
**Describe the bug**
Drawer can not show the c-drawer-footer on IPhone 8 plus

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Drawer](https://vue.chakra-ui.com/drawer)
2. Click on '+Create User '

**Screenshots**
can not find the **Save** and **Cancel** button
![image](https://user-images.githubusercontent.com/37213061/101489451-ecc54f00-399b-11eb-8b07-f33505f9f828.png)

**Smartphone

[2020-12-08 15:38] agustif commented on #59
Well I can reproduce it, but I just ended up disabling ssr...

[2020-12-14 11:03] BroJenuel opened #359 "Why Vue throws an error, when dealing with color modes?"
- I have created a new Project
- I installed the framework using  `vue add chakra-ui`
- Setup the main js following the instruction in https://vue.chakra-ui.com/color-mode
![image](https://user-images.githubusercontent.com/31676163/102073947-04d71b80-3e3f-11eb-90be-ae20056ae4c7.png)

But when I try to run the using `yarn serve`

I see this error.
![image](https://user-images.githubusercontent.com/

[2020-12-14 11:23] BroJenuel opened #360 "Installed Chakra UI and Run it But Got this error."
- created a new Vue 2 Project.
- Installed chakra using `yarn add @chakra-ui/vue emotion` and setup Chakra in `main.js`
- Running it this error shows up.

![image](https://user-images.githubusercontent.com/31676163/102075818-cbec7600-3e41-11eb-9bbf-6d966f98f7ee.png)

[2020-12-17 03:46] codebender828 commented on #359
Hey @BroJenuel ! Thanks for opening this. Which version of `@chakra-ui/vue` do you have installed?

[2020-12-17 03:51] BroJenuel commented on #359
I installed the latest  chakra version

[2020-12-17 14:05] BroJenuel opened #362 "I like To Contribute but this Happens."
running this command gave me this error `yarn bootstrap`

![image](https://user-images.githubusercontent.com/31676163/102497726-f5143d00-40b3-11eb-9cf5-57620fdd7991.png)

[2020-12-17 14:07] codebender828 commented on #362
Hey @BroJenuel ! Thanks for reporrting this. Tomorrow I'll be fixing this. Was able to discover the cause of the issue.

[2020-12-17 14:09] BroJenuel opened #363 "CAvatarGroup size prop not working"
I am using the CAvatarGroup component but adding the size prop doesn't work. Adding the size prop will create a space below the group avatars.

![image](https://user-images.githubusercontent.com/31676163/102497986-5805d400-40b4-11eb-8197-9f708694b1ed.png)

[2020-12-22 01:58] creepinson commented on #275
any updates?

[2020-12-24 08:38] #352 closed

[2020-12-24 08:38] #360 closed

[2020-12-24 08:38] #362 closed

[2020-12-28 19:19] odanado opened #367 "`nuxt build` fails with `Must use import to load ES Module`"
**Describe the bug**
Running `yarn nuxt build` on a project created with `create-nuxt-app` fails with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/odan-sandbox/nuxt-chakra-ui-es-module-error
2. yarn
3. yarn build
4. See error: https://github.com/odan-sandbox/nuxt-chakra-ui-es-module-error/runs/1618656833

[code]

**Expected behavior**
The build will

[2020-12-28 19:30] odanado commented on #367
Sorry.

I upgrade to @chakra-ui/nuxt@0.2.2, @nuxtjs/emotion@0.1.0 and this error has been resolved.

[2020-12-29 04:18] codebender828 commented on #367
Hey @odanado !

Sorry about the issue. The reason is because `create-nuxt-app` takes a while to update the versions even after publishing. Will be leaving this open until it's updated.

[2020-12-30 05:33] BroJenuel opened #369 "When running the command yarn install, their is an error."
**Describe the bug**
I like to contribute since I am using this library in a project that we are making, but when I tried to fork, and cloned and then run the command `yarn install`.

This error shows up:
![image](https://user-images.githubusercontent.com/31676163/103332032-7cde4c00-4aa3-11eb-8a03-47efe115f691.png)

Machine:
node version: v14.15.1
Windows 10

[2020-12-31 06:07] codebender828 commented on #369
Hey @BroJenuel . Hmmm. This looks quite strange to me. I haven't experienced this before.

From the look of things it looks like the version of the Node.js you are running is ^14. Have you tried installing the libraries again using node version of ^12.19? It seems to be a stable version of node.js. My suspicion is that one of Chakra's dependency libraries doesn't have bindings for Node v.14.

You

[2020-12-31 06:13] codebender828 opened #370 "Bug: @chakra-ui/nuxt@0.2.2 module doesn't register internal icons"
**Describe the bug**
Where as the Chakra UI plugin registers internal icons well, the Nuxt module for version `0.2.2` seems to be registering an empty object.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `create-nuxt-app` to create new Nuxt app with Chakra UI Vue. (Upgrade to latest version `@chakra-ui/nuxt@^0.2.2`
2. Start dev server
3. Internal icons are displayed as `?`

**Expected

[2020-12-31 07:09] BroJenuel commented on #369
Oh, right let me try using node 12, and i have python installed.

[2020-12-31 07:25] #370 closed

[2020-12-31 23:09] koca commented on #369
Unfortunatelly i don't use windows for frontend stuff(i use mac). I recommend you to use wsl2 for better dev experience. I've used it. It was great.

[2021-01-09 18:20] azerpas opened #377 "'bg' property doesn't work with dot notation"
**Describe the bug**
A clear and concise description of what the bug is.

I'm trying to color the background of my CBox element with 'bg' and dot notation 'indigo.400' with no success.

**To Reproduce**
Steps to reproduce the behavior:
- Add a CBox element
- Add a 'bg' prop with dot notation

**Expected behavior**
A clear and concise description of what you expected to happen.

Expected: Indigo ba

[2021-01-09 20:03] koca commented on #377
![image](https://user-images.githubusercontent.com/342666/104107607-92871900-52ce-11eb-8486-4c995463c321.png)

Hi @azerpas, Thanks for the report but i guess you didn't setup ChakraUI properly. What framework are you using? Also can you upgrade to latest version which is `0.7.4`?

[2021-01-09 21:52] azerpas commented on #377
Sorry, meant 0.7.4.

Using vue-cli. Emotion is also installed.

Here's my set-up:
[code]

[2021-01-09 22:25] koca commented on #377
I don't see any issues except unneceseary imports.
Did you install `emotion` or `@emotion/css`? You need to install `@emotion/css`.
Here is a working example of `main.js`:

[code]

[2021-01-13 07:30] codebender828 commented on #369
Hey @BroJenuel ! Are you still experiencing this issue?

[2021-01-13 10:30] BroJenuel commented on #369
Good day, yeah Im still having travel installing dependencies
![image](https://user-images.githubusercontent.com/31676163/104440412-463d2100-55cd-11eb-9daa-38872332ad75.png)

its checking python, but I have a python in my system.
![image](https://user-images.githubusercontent.com/31676163/104440536-72f13880-55cd-11eb-86a4-500f53e0f667.png)

how to set it up in windows.

[2021-01-14 02:11] BroJenuel commented on #369
Oh I just red this, hmm let me try using wsl2 then :)

[2021-01-14 12:53] johnxiongs opened #378 "How to display the blue border when I click it"
![image](https://user-images.githubusercontent.com/37213061/104593331-832b1580-56aa-11eb-932e-1597b0f6b1c7.png)

[2021-01-15 12:47] izcream commented on #116
hows chakra-ui vue v.1.0 going on?  Im waiting to use in my vue3 project 😸

[2021-01-15 16:12] anqaka opened #379 "Overwrite components's baseStyles in extend theme config file"
Is it possible to overwrite component's baseStyle using extend theme config file?

Example:I would like to use button width `rounded: 0` but not adding this each time I use the button in a components.
Instead of using:
(in Component.vue)
[code]

It would be great to use something like:
(in custom-theme.js):
[code]
Something like in Chakra-ui for React: https://chakra-ui.com/docs/theming/customize-

[2021-01-18 13:07] BroJenuel commented on #369
I tried again but still, I'm getting this kind of error

![image](https://user-images.githubusercontent.com/31676163/104919329-0ad99280-59d1-11eb-81dd-79268d4c3bd7.png)

[2021-01-18 13:07] #369 closed

[2021-01-18 14:31] BroJenuel commented on #116
yeah, any update on the chakra for vue 3? thanks :)

[2021-01-19 04:31] codebender828 commented on #116
Hey @BroJenuel  and @izcream  yes, a Vue 3 version is currently in the works.

At the moment we're finalizing an internal API that we can use based on the React v1 version before I can share a more concrete plan for the component development and contributions by the community.

That being said, thank you for your enthusiasm! It's refreshing and helping me chug along. In the next week, I'll put out

[2021-01-26 18:56] codebender828 commented on #379
Hey @anqaka ! Thanks for opening this issue.

We'll be introducing this in the next major version of Chakra UI Vue. We already have it in development here:

https://github.com/chakra-ui/chakra-ui-vue-next

[2021-01-26 18:57] #379 closed

[2021-01-27 20:37] ahmetyasirkilic opened #381 "Could not find a declaration file for module '@chakra-ui/vue'"
### **I could not establish the chakra-ui anyway. All I do is create a vue project and import chakra-ui. Is there a place I missed? I am thinking of switching to React otherwise: D**

**Screenshots**
![Screenshot_5](https://user-images.githubusercontent.com/17856904/106049948-c1d3bd80-60f7-11eb-9633-5e38a61158c0.png)
![Screenshot_](https://user-images.githubusercontent.com/17856904/106050900-c9e02

[2021-01-28 03:38] codebender828 commented on #381
Hey @ahmetyasirkilic !

I see that you're using @chakra-ui/vue@0.x for vue@3.x. At the moment it's only compatible with vue@2.x.

The Vue 3.x compatible version of @chakra-ui/vue is still in development at #chakra-ui/chakra-ui-vue-next.

[2021-01-28 10:09] deevannaveed opened #382 "cMenu cannot close the menu programmatically when closeOnSelect is set to false"
**Is your feature request related to a problem? Please describe.**
I want the menu to be able to close programmatically event if closeOnSelect is set to false because I want the menu to stay open for some menu items and for some menu items I want to close it.

**Describe the solution you'd like**
I think isOpen prop should still work when closeOnSelect is set to false

**Describe alternatives you'

[2021-01-28 14:18] #381 closed

[2021-02-03 13:52] fpoliquin commented on #292
I've hit the same issue. I was trying to wrap the c-input-group to build a higher level search box component which needs to expose the "input" event.

[2021-02-03 16:41] IHIutch opened #383 "Set accordion "CCollapse" height to auto on animation end"
**Describe the bug**
CCollapse component retains the final height after the open animation finishes. This causes the wrapping div to stay the same size, even when the contents inside change (grow/shrink). Setting it to "auto" once the animation is complete would allow the wrapper to scale with the content.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Accordion component with some c

[2021-02-03 16:44] IHIutch commented on #383
I can rename this if it makes more sense to be something else `data-chakra-component="CCollapse"` is the element that actually gets the height, but its not technically a "Chakra component"

[2021-02-03 17:39] codebender828 commented on #383
Hey @IHIutch ! Thanks for opening an issue for this! Awesome work coming up with a solution for this!

At the moment I've been focused on Vue 3 version support. If you can open a PR for it I can review it and have it merged for the `v0.7.5` release this weekend.

[2021-02-03 20:05] IHIutch commented on #383
I'd be happy to contribute, although I'm not super familiar with how Chakra generates CSS under the hood. I'll take a look and see if I can understand it enough to chip in.

[2021-02-04 02:46] IHIutch commented on #354
Looks like this is due to the `position: absolute` on the switches, I think Ive seen this on another page too. Probably worth putting top:0; left: 0; on these. Not sure why it sinks to the bottom 🤔

[2021-02-05 13:01] ajacquierbret commented on #292
Same here, I had to use a watcher on the v-model value in order to get an input event.

[2021-02-06 09:12] Heziode opened #387 "CTabPanel catch change event on blur of sub-components (Input,CInput, etc.)"
**Describe the bug**
A clear and concise description of what the bug is.

When we use `input` (native tag), `c-input` (Chakra UI tags), etc. that have emit `change` event, this event is caught by the ancestor `CTabs` when input loss the focus (onBlur).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://codesandbox.io/s/chakra-ui-nuxt-demo-forked-5zbx3?file=/pages/index.vue
2. Cli

[2021-02-07 07:36] codebender828 commented on #383
Thank you @IHIutch !

[2021-02-07 08:30] #383 closed

[2021-02-07 16:12] #275 closed

[2021-02-07 16:12] #296 closed

[2021-02-08 19:23] Lutonite opened #390 "CStack: component errors when direction is an array"
**Describe the bug**
Whenever I try to use the CStack component using an array of strings for the direction prop, it errors out with the following messages: `this.direction.startsWith is not a function`, and `this.direction.endsWith is not a function`. For example:

[code]

I think the issue comes from the computed variables `_isInline` and `_isReversed` in https://github.com/chakra-ui/chakra-ui-v

[2021-02-11 15:23] jonybekov commented on #49
Hi. "Slider not reacting to drag" this issue has not been resolved in 0.7.4 version

[2021-02-24 14:35] jonybekov commented on #378
Hi @johnxiongs Can you explain your issue with more details?

[2021-02-25 20:14] philwolstenholme opened #391 "`r.keyframes is not a function` error when trying to build or run `dev` on a Nuxt site"
`npm run dev` gives me this error on a Nuxt site:

[code]

I'm using these versions:

[code]

I have the same issue on Node `v10.23.0` and Node `v14.15.4`.

`keyframes` is an Emotion, function, I think? I'm not sure why the `dist` version is being used though?

Here is the Nuxt config and `package.json` files from my project

<details>
<summary>nuxt.config.js (excuse the messiness of the commented

[2021-02-26 13:14] philwolstenholme commented on #391
I got around this by removing parts of my `nuxt.config.js` and `package.json` until it worked - I wish I knew why! I suspect some existing config from my project (Babel perhaps?) was interfering with Chakra UI.

[2021-02-26 13:14] #391 closed

[2021-02-26 13:40] philwolstenholme opened #392 "CBox used inside CAspectRatioBox has no children nodes/content when rendered in the DOM"
**Describe the bug**
I am trying to use a CBox inside a CAspectRatioBox but I can't get any children components/content to appear.

Am I doing something wrong or is this a bug? I'm not sure :)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/chakra-ui-nuxt-demo-forked-hxshn?file=/pages/index.vue
2. Verify that the 'See the Vue' heading inside the CBox is not vis

[2021-03-01 10:28] philwolstenholme commented on #392
I suppose with `iframe` or `img` or `picture` elements the child node content isn't important, but I was trying to use it to contain some HTML markup with children rather than just a single element.

[2021-03-02 00:54] spenco100 commented on #354
I've seen these on any page in the documentation that includes a switch. When I tap or click on it, I have this massive whitespace coming from the bottom up. I have to scroll all the way to the top of the page, then back down in order for the page to behave correctly.

This was also affecting modals for me, when I had ```scroll-behavior="inside"``` set. I followed @IHIutch's recommendation and wro

[2021-03-04 05:15] HoukasaurusRex opened #393 "Vuepress Support"
**Is your feature request related to a problem? Please describe.**

In Vuepress, there seems to be no straightforward way to begin using Chakra UI components.

**Describe the solution you'd like**

Either a simple solution provided in the documentation, or a dedicated plugin for Vuepress.

**Describe alternatives you've considered**

I've tried some hacky configurations in Vuepress's `enhanceApp.j

[2021-03-05 08:06] #378 closed

[2021-03-05 08:07] #358 closed

[2021-03-05 08:08] #357 closed

[2021-03-05 15:37] philwolstenholme commented on #342
I've just run into this issue too.

[2021-03-06 07:54] HoukasaurusRex commented on #393
Update: with the help of @codebender828, it seems defining the providers in the mixin work well.

enhanceApp.js
[code]

I'll test the functionality of other chakra components, but this seems to work for me so far. If it's a good solution for everyone I can create a vuepress plugin and update the chakra docs for a vuepress setup guide. Haven't tested color mode or breakpoint methods yet

[2021-03-06 15:07] IHIutch commented on #354
So I looked into this a bit more and it seems like the source of the issue is the `overflow` that's set on `#main-content`. Removing that overflow makes the absolutely placed input behave as expected.

That being said, it's probably a safer bet to simply put a `position: relative` on the switch's wrapper. This would cause the Vue switch to be different from the React switch, but it also solves the

[2021-03-07 06:01] IHIutch commented on #392
Im also having issues with CAspectRatioBox using nuxt. I'm trying to do this:
[code]

But am getting this error: `Cannot read property '0' of undefined`. It seems like CAspectRatioBox expects some element to live inside it.

[2021-03-07 08:14] IHIutch opened #397 "Table Component"
**Describe the solution you'd like**
A table component, that supports the following props:
[code]

**Describe alternatives you've considered**
Normal HTML tags and `v-chakra` 😅

[2021-03-08 14:51] IHIutch commented on #342
Same for the `align` and `justify` aliases

[2021-03-10 18:12] therealokoro opened #399 "Remove or customize the accessibility styling on elements"
So I get the fact that Chakra UI is built with accessibility in mind. But to be honest the styling giving to elements on focus(a box shadow) doesn't really look good in all cases. In my case i'd like to either remove it or possibly customize it to look more like my brand design. I've seen a few solutions online for this, but none worked for me.

I've tried overwriting the style using css

[code]
B

[2021-03-14 08:58] #354 closed

[2021-03-14 09:03] #392 closed

[2021-03-14 09:04] codebender828 commented on #367
Closing this for now. Please re-open if there's an issue with this 👍

[2021-03-14 09:04] #367 closed

[2021-03-14 09:05] #311 closed

[2021-03-14 09:05] #9 closed

[2021-03-14 09:06] codebender828 commented on #202
Closed in #380

[2021-03-14 09:06] #202 closed

[2021-03-14 09:08] codebender828 commented on #320
Closed for dormancy. Please reopen if this issue is persistent 👍

[2021-03-14 09:08] #320 closed

[2021-03-14 09:19] codebender828 commented on #285
To augment this thought, for the next version of Chakra UI Vue, we shall be exposing a `useClickOutside` hook to the user. We'll also register it as a global directive in the Vue application so users can enjoy this.

[2021-03-14 09:20] #285 closed

[2021-03-14 09:31] codebender828 commented on #338
This can be done here: 😄

https://codesandbox.io/s/chakra-ui-vue-using-inset-exb27?file=/src/App.vue

[2021-03-14 09:31] #338 closed

[2021-03-14 09:36] codebender828 commented on #342
Thanks for capturing this issue @everchanger . Gonna take a look at this.

[2021-03-14 09:40] codebender828 commented on #342
@IHIutch How did you try to use the `align` and `justify` aliases? Because they're only available on the `CFlex` and `CGrid` components. ✌️

https://github.com/chakra-ui/chakra-ui-vue/blob/71512a4dc20d4f080034d27bcee4c36db290c987/packages/chakra-ui-core/src/CFlex/utils/flex.props.js#L3-L13

[2021-03-14 09:52] codebender828 commented on #344
Hi @gbruins-notours! Thanks for capturing this! Sounds like a good feature. I initially didn't expose the `breadstick` toast methods to Chakra. But this seem like a good use case for them.

What do you think about using the `this.toast({ render: () => VNode | Component })` callback as an alternative to this?

[2021-03-14 10:02] codebender828 commented on #346
Hi @gbruins-notours .

Thanks for capturing this issue. Sorry I think this wasn;t documented well. the `onClose` prop is actually on available if you use the render callback in the `$toast` function.

https://codesandbox.io/s/expose-onclose-with-render-callback-hcw45

[2021-03-14 10:10] codebender828 commented on #399
Hi @REDEAKAA ! How are you doing? I understand you'd like to modify the base styling for the focus styles.

One possible way you could try is to modify the theme object in chakra UI.

On this demo I modified the focus styles to match those of Slack's theme colors.

Here's how to do it in Chakra UI Vue.
https://codesandbox.io/s/customize-focus-styles-in-chakra-ui-vue-qko53?file=/src/main.js:152-104

[2021-03-14 10:11] codebender828 commented on #399
@REDEAKAA Take note however that modifying this will change the focus styles of most components

[2021-03-14 10:14] codebender828 commented on #347
Hi @calebeaires !

At the moment, no :( If this is something you're interested in having, please feel free to send in a PR implementing this for CDN builds :)

[2021-03-14 10:15] #347 closed

[2021-03-14 10:16] #335 closed

[2021-03-14 10:18] codebender828 commented on #346
Hi @carwack! Think you could help us document this in the v0 docs?

[2021-03-14 10:23] codebender828 commented on #351
Hey @IHIutch Thanks for the feature request!

Currently v0 doesn't implement this as a component. I don't see any harm in adding a component like this to the project. However, I'm not yet sure if it should be implemented in the `v0` library core, as a recipe, or in user land as a custom component. Your points are pretty good ones. 🤔 I haven't yet encountered this use case yet.

Since I'm not reall

[2021-03-14 10:23] #351 closed

[2021-03-14 10:40] codebender828 commented on #353
Hey @outofgamut

thanks for capturing this issue.

[2021-03-14 11:28] codebender828 commented on #382
Hey @deevannaveed ! could you provide a reproduction for this issue on codesandbox? Here's a template to start with:
https://codesandbox.io/s/charming-frog-z3bp4

[2021-03-14 11:31] codebender828 commented on #377
Hey @azerpas !

Thanks for opening this issue. Feel free to re-open this again if you still have this issue. You can also share a reproduction to the issue using this codesandbox template:

https://codesandbox.io/s/charming-frog-z3bp4

Will close this for now until necessary to re-open.

[2021-03-14 11:39] codebender828 commented on #387
Hey @Heziode !

Thanks for capturing this issue. Appreciate the reproduction as well. Will be helpful when debugging the issue

[2021-03-14 11:44] codebender828 commented on #390
Hey @Lutonite !

Thanks for recording this. Actually at the moment, the `direction` prop on the stack component is not a reactive style prop like the other style props. That's why it expects a string.

So it does seem like an interesting use case to have it as a native reactive style prop.

I'm happy to accept a pull request for this if you're open to the idea of creating it as a feature.

[2021-03-14 11:46] codebender828 commented on #393
Thanks for the work done here @HoukasaurusRex .

Closing this issue for now. The procedure has been added to docs in #395

[2021-03-14 11:46] #393 closed

[2021-03-14 12:15] codebender828 commented on #397
Thanks @IHIutch 😀❤️

I could use something like this. Up until now, this is another component I wasn't sure about including to the core API. But I'm open to us having a discussion around the API.

What would a good Table API look like?

There's two directions we could go with this:
**1) The compound approach.**
**Pros:**
- Flexibility with layout
- Flexibility with styling of table elements

**Con

[2021-03-14 12:15] #397 closed

[2021-03-14 14:30] IHIutch commented on #342
@codebender828 Ah, I think that's the issue. I think I was trying to do something like

[code]

[2021-03-20 00:54] REDEAKAA commented on #399
Okay so, i've tried the fix you gave, but it still doesn't work, though this time i believe it'll have to do with extending the theme. Am using chakra UI in a nuxt.js project. And in a file inside a folder on the root of my app, i export an object holding both the extendTheme option and config option. I import this into my nuxt.config.js and set it to the chakra option. Now the config works, as am

[2021-03-21 17:13] deevannaveed commented on #382
@codebender828 here is the example: https://codesandbox.io/s/wonderful-lalande-dzc6i?file=/src/App.vue

[2021-03-23 12:38] philwolstenholme opened #411 "CVisuallyHidden is missing documentation"
We have the [CVisuallyHidden](https://github.com/chakra-ui/chakra-ui-vue/blob/c401a75559a8ea926fc568ff5b82dc0fa4485d2b/packages/chakra-ui-core/src/CVisuallyHidden/CVisuallyHidden.js) component but I couldn't find it mentioned on the documentation.

It'd be good to expose a documentation page for the component so people are aware Chakra provides one and don't end up making their own.

[2021-03-23 15:12] codebender828 commented on #399
Okay. I'm unable to see why it won't work from here. Do you think you can provide a reproduction from codesandbox?

[2021-03-23 21:27] peoray commented on #356
@romain130492 It'd be awesome if you reproduce this same issue. Here is a [starter template](https://codesandbox.io/s/lucid-cloud-5kxxb) you can use

`@input` is not an expected event so nothing actually happens

[2021-03-24 18:04] philwolstenholme opened #412 "Collapse: does the finish event work?"
**Describe the bug**
I'm not sure if I'm doing something wrong or if there's a bug here, but with this code:

[code]

`showToast` does not seem to be firing when the collapse is expanded/contracted.

**To Reproduce**
Steps to reproduce the behavior:

1. Visit https://codesandbox.io/s/zealous-wilbur-qvwny?file=/src/App.vue
2. Check code
3. Expand/contract the collapse
4. Note that the `showToast` m

[2021-03-24 19:06] codebender828 commented on #411
Good point. At the time I didn't think to write about it because was only being used inside the library. But it seems people are using it so we should :D

At the moment I'm a little swamped with cranking out v1. Would you like to send in a PR for this page?

[2021-03-24 19:16] codebender828 opened #413 "BUG: Responsive styles are not being applied to `CPseudoBox` component's pseudo properties."
**Describe the bug**
Responsive styles are not being applied to `CPseudoBox` component's pseudo properties.
![image](https://user-images.githubusercontent.com/21237954/112370364-40279700-8d18-11eb-953f-328138649879.png)

In the browser it renders an empty style
![image](https://user-images.githubusercontent.com/21237954/112370316-2e45f400-8d18-11eb-9ceb-953f44b29383.png)

**To Reproduce**
See code

[2021-03-24 19:29] codebender828 commented on #412
Thanks for capturing this issue @philwolstenholme I also appreciate the reproduction.

I just realized that we didn't write a test for the emission of the `@finish` event. So it must have broken when we refactored to using functional components in v0.

for now I'm focusing efforts on cranking out v1. I'll be able to find time to go through this issue at the end of the week or so. But if you are ab

[2021-03-24 23:45] philwolstenholme commented on #411
@codebender828 I had a feeling it might have been an internal only tool :) I'll try and take a look at how the docs work and creating a page.

This is an off-topic question, but we've just started a new project at work using Chakra. Do you know what the upgrade process to v1 will be like if we wanted to make the switch?

[2021-03-29 15:22] adampapl opened #414 "Popover prop gutter is not working"
# Issue
Looks like `Popover` prop `gutter` is not working at all.

# How to reproduce:
Go to https://vue.chakra-ui.com/popover and try adding `gutter="100"` or `:gutter="100"` to any of popover examples.

The same prop works great in React version of Chakra.

[2021-03-30 15:16] codebender828 commented on #359
The fix for this requires that the `CColorModeProvider` has only one child element. I'll be cliosing this for now due to inactivity. Feel free to reopen if it persists

[2021-03-30 15:16] #359 closed

[2021-04-02 09:58] devivekw commented on #247
Hey @codebender828 are you still looking for help on the Issue? I would be happy to help out!

[2021-04-02 14:48] peoray commented on #363
@BroJenuel The `CAvatarGroup ` uses the `group-size` prop. This isn't indicated in the documentation. Thanks for spotting it out, the team will update accordingly :)

[code]

[2021-04-02 14:49] #363 closed

[2021-04-02 15:35] peoray commented on #353
@outofgamut Not sure why it doesn't work with the `template` but if you use `CBox`, it works fine and it doesn't add any extra HTML tag. Here is a demo: https://codesandbox.io/s/chakra-ui-vue-starter-forked-kmy99?file=/src/App.vue

[2021-04-02 15:46] #353 closed

[2021-04-02 16:01] peoray commented on #301
This has been sorted out as the README has been updated to include `yarn build` in the contributing section.

[2021-04-02 16:01] #301 closed

[2021-04-02 16:09] #345 closed

[2021-04-02 16:27] BroJenuel commented on #363
Thanks 👍👍

[2021-04-03 00:41] #377 closed

[2021-04-11 19:37] n1kio commented on #357
@johnxiongs Did you get this to work eventually?

[2021-04-15 09:41] kissu opened #421 "Support nuxt-vite"
**Is your feature request related to a problem? Please describe.**
[Vite](https://vitejs.dev/) is an awesome tool, that is far better than Webpack during local dev because of the refresh load times. So far, the project I set up is working great with all my packages but Chakra UI.

**Describe the solution you'd like**
Would be super lovely to have it working with Vite. ❤️

**Describe alternatives y

[2021-04-23 11:00] philwolstenholme commented on #342
I think the issue is that the breakpoint alias information isn't being copied to the theme object in `.nuxt-storybook/chakra.js` successfully.

If I manually add these lines to my `.nuxt-storybook/chakra.js` then the alias and object syntax for classes starts working:

[code]

[2021-04-23 11:53] philwolstenholme commented on #342
For now, I've added this to `node_modules/@chakra-ui/nuxt/lib/plugin.js` using https://www.npmjs.com/package/patch-package

[code]

[2021-04-23 22:53] MWFIAE opened #422 "Properly support srcSet in the c-image component"
**Is your feature request related to a problem? Please describe.**
I'm trying to optimize our site for mobile users. Using responsive images via nuxt-responsive-loader.
While this seems to work fine in the first moment. I realized it actually loaded 2 image versions.
After digging the code I saw that chakra image uses a virtual image in it's code to detect if it should display the fallback image i

[2021-05-02 04:03] MaySoMusician opened #425 "CStack doesn't allow its children to be empty"
**Describe the bug**
When CStack has no children (i.e. default slot is empty), the runtime error of "filter of 'undefined'" will occur.

**To Reproduce**
(I'm experiencing this in Nuxt.)
1. Go to https://codesandbox.io/s/epic-nash-q7bgo?file=/src/App.vue
2. See Console
3. You will get `TypeError: Cannot read property 'filter' of undefined`

**Expected behavior**
No errors occurs

**Additional cont

[2021-05-04 15:34] codebender828 commented on #421
Thank you for this @kissu . Will look into it.

[2021-05-04 15:38] codebender828 opened #426 "CPopper(FR): Add tests for `CPopper` component"
**Is your feature request related to a problem? Please describe.**
Currently the CPopper component doesn't have any tests written for it. At the time of writing that component, I also did not have a very solid background on writing Vue component tests. So I wrote some `it.todo` statements to cover my basic expectation of the `CPopper` component.

**Describe the solution you'd like**
- Write a sens

[2021-05-09 16:12] kissu opened #427 "Ability to totally remove System UI styling"
**Is your feature request related to a problem? Please describe.**
I wish to use Chakra only for it's a11y capabilities and not the styling, for which I do already have TailwindCSS. How can I strip the System UI styling?

**Describe the solution you'd like**
Allow to not load any default theme and provide it's own styling.
Will also probably decrease the total bundle size in cases it's not used.

[2021-05-09 16:12] kissu opened #428 "Ability to totally remove System UI styling"
**Is your feature request related to a problem? Please describe.**
I wish to use Chakra only for it's a11y capabilities and not the styling, for which I do already have TailwindCSS. How can I strip the System UI styling?

**Describe the solution you'd like**
Allow to not load any default theme and provide it's own styling.
Will also probably decrease the total bundle size in cases it's not used.

[2021-05-09 16:17] kissu commented on #428
Got a network error (wifi), duplicated the issue. Sorry.

[2021-05-09 16:17] #428 closed

[2021-05-15 04:45] k16e-me opened #429 "Problem with the Chakra-Vue Drawer page"
Kindly watch the following Loom and notice how a whitespace is at the bottom of the Drawer page. And then when you select each orientation where you want the Drawer to open, the page jumps to white/blank...quite disorienting.

https://vue.chakra-ui.com/drawer

https://www.loom.com/share/846ca6a69f814a9099dc75152dcca715

[2021-05-16 13:04] DRD161 commented on #251
Hi there! Loving Chakra so far! Wanted to see if there has been any movement on this or if anyone can point me in the direction of how I can easily change the drawer open animation. Thanks!

[2021-05-17 16:31] JulianCataldo opened #430 "Support for more pseudo classes (ie. :first-letter)"
Hello,

Still tied to regular css when coming to special pseudo classes like `:first-letter`, `:has`, `:fullscreen`…

Would be cool if they could be mapped too like,
https://vue.chakra-ui.com/pseudobox#selectors-and-props

Thanks for the great work.

[2021-05-17 16:33] JulianCataldo opened #431 "Pseudo classes on every Chakra components, not just PseudoBox."
Hey,

It looks like the React version of Chakra is agnostic regarding the way to add pseudo classes to a component.
Actually, in the Vue one, it can be cumbersome to use a specific component (`PseudoBox`), it may leads to unnecessary DOM for example.

Thanks.

[2021-05-17 21:30] collegetransitions opened #432 "Modal content not scrolling on iOS Safari"
**To Reproduce**
Steps to reproduce the behavior:
1. On an iPhone, go to https://vue.chakra-ui.com/modal#modal-overflow-behavior
2. Click on "Open Modal" button
3. Attempt to scroll content using 1 finger
4. Content does not scroll

**Expected behavior**
Content should scroll when using one finger, with momentum.

**Smartphone**
 - Device: iPhone (any)
 - OS: Tested on iOS 14
 - Browser: Mobile Sa

[2021-05-18 17:14] philwolstenholme opened #433 "No 'change' event firing for CAccordion/CAccordionItem when opened/closed"
**Describe the bug**
The documentation (https://vue.chakra-ui.com/accordion#events) for the Accordion component lists a `change` event, but it does not seem to be firing (see attached devtools video). I wonder if this is linked to #412 ?

https://user-images.githubusercontent.com/6339853/118694256-cc7ba500-b803-11eb-8fa6-92da2a7d85de.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Add an

[2021-05-21 04:05] zxh326 commented on #355
any updates？

[2021-05-23 23:57] peoray commented on #433
Thank you for @philwolstenholme for reporting this issue. We'll take a look :)

[2021-05-25 23:38] codebender828 commented on #251
Hi, @DRD161 ! I'm glad to hear that your loving Chakra so far!

At the moment there hasn't been much movement on this issue. The team has been working on v1 where this will be resolved but we'd like to have the transition issue resolved here as well.

If you're interested in taking this on, I'd recommend looking at the `CTransition.js` and `CDrawer` files that we used to handle transitioning.

I t

[2021-05-27 17:11] jongeyer opened #434 "CImage and CAvatar depend on `process.browser`, not working with Vite"
**Describe the bug**
CImage and CAvatar depend on `process.browser` which is causing problems with Vite (using `vite-plugin-vue2`)

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a Vite project with `vite-plugin-vue2` and @chakra-ui/vue
2. Add a <c-image> or <c-avatar> with a working `src`
3. Image does not appear at all
4. See error in console
![image](https://user-images.githubuserc

[2021-05-29 14:17] hasanparasteh opened #435 "RTL support in theme.js config"
We need to implement a feature to support RTL in `vue-chakraui` project. all the icons are incorrectly placed in components! Please consider adding `rtl` option with true or false in basic chakraui configuration

[2021-05-31 22:06] JulianCataldo opened #436 "v-chakra directive bug : flash of unstyled content when applyed on a external component"
Compare this two :

# 1
`test.vue`
[code]

`DabadiDabada.vue`
[code]

---

# 2

`test.vue`
[code]

# Results

![Screenshot 2021-05-31 at 23 55 14](https://user-images.githubusercontent.com/603498/120244853-a88c7a80-c26b-11eb-828e-5d244a66cf77.png)

In both case, it works like above, however you get a flash of styling on **case 1**.
If you disable javascript (Safari dev menu), styling isn't applied

[2021-06-08 13:27] #422 closed

[2021-06-09 03:07] #414 closed

[2021-06-12 01:40] codebender828 commented on #434
Thanks @jongeyer To be fixed in next version 💪🏾

[2021-06-12 01:42] codebender828 commented on #435
Hey @hasanparasteh Thanks for taking note of this. RTL support is a feature we should implement in the core. Our team will think of a way to work on it. Let's keep tabs on this thread. 👍🏾

[2021-06-12 02:12] codebender828 commented on #431
Why not?

[2021-06-12 03:49] ejirocodes opened #443 "Can't use custom color from theme in Button component"
trying to use custom color from theme object in button component

That's not working

`` <c-button variantColor="spasora.400" size="md" >Save</c-button>``

But when using the same color in the Box component, it's working fine:

``` <c-box bg="spasora.400" w="100%" p="4" color="white">This is the Box</c-box>```
here is the example:

My custom theme
export default {
  colors: {
    spasora: {

[2021-06-12 14:36] codebender828 commented on #443
Hey @ejirocodes ! You can use your custom variant color bu just passing the `variant="spasora"` prop. No need add the `.400`

[2021-06-12 14:36] codebender828 commented on #443
Will close this for now

[2021-06-12 14:36] #443 closed

[2021-06-13 04:12] ejirocodes commented on #443
Thanks @codebender828, `variant="spasora"` didn't work so I `variant-color="spasora"` and it worked like magic!

[2021-06-13 20:44] DRD161 opened #445 "CImage not working in Nuxt project. Src not showing in image."
I have a working Vue project that I am trying to convert over to using Nuxt. In the navbar of the site I have an image for a logo, this logo shows properly in the Vue project but not in the Nuxt project. After following both the suggested methods for handling images in the Chakra UI Vue docs as well as in the Nuxt docs I cannot get the image to show in the Nuxt project. When inspecting the image e

[2021-06-14 00:36] peoray commented on #430
@JulianCataldo Aside the ones you mentioned, do you have others in mind?

[2021-06-14 00:39] peoray commented on #445
@DRD161 Thanks for reporting the issue. The team will take a look as soon as it can :)

[2021-06-14 06:46] codebender828 commented on #445
Hi @DRD161 Do you have a reproduction of the issue?

[2021-06-14 07:56] codebender828 commented on #436
Hi @JulianCataldo Are you using this in a nuxt project? I'd like to see a reproduction of this if possible.

[2021-06-14 09:35] #445 closed

[2021-06-14 12:34] DRD161 commented on #445
@codebender828 it seems the issue has been closed but I can work on getting a reproduction still if you'd like.

[2021-06-14 13:02] peoray commented on #445
@DRD161 The issue has been fixed. All you have to do is update Chakra to the latest version

[2021-06-14 14:26] DRD161 commented on #445
@peoray awesome! Thanks for the quick fix! Keep up the great work guys!

[2021-06-17 23:24] peoray commented on #429
@k16e-me The loom video doesn't play. Can you provide more information on this?

[2021-06-18 06:15] k16e-me commented on #429
I might've deleted that video since. When I have the time, I might take a look at Chakra again, and if it hasn't been fixed, re-issue. Thanks.

[2021-06-18 06:15] #429 closed

[2021-06-24 23:00] DRD161 opened #451 "CSS properties all appearing inside of font-family style rule."
**Describe the bug**
When using some style props such as gridRow and alignSelf, the css rules that are created are all jumbled up inside of a font-family style rule. In some instances these style props do not cause this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/DRD161/Gridsome-Portfolio.git
2. Download project
3. Open project directory and run `npm insta

[2021-06-25 01:04] DRD161 commented on #451
I now have this behavior when using the my style prop.
`        <c-heading as="h3" size="lg" my="4">Web Development</c-heading>
`

I'm not sure if it's something I'm doing wrong but any help would be appreciated.

<img width="1680" alt="Screen Shot 2021-06-24 at 9 01 29 PM" src="https://user-images.githubusercontent.com/29187448/123353477-9c749f80-d52f-11eb-8705-0bbdef941efa.png">

[2021-06-25 01:11] DRD161 commented on #451
Just realized this bug was being caused by a typo in my custom theme file :sweat:. Mystery solved.

[2021-06-25 03:15] codebender828 commented on #451
:)

[2021-06-25 13:48] #451 closed

[2021-06-27 14:27] simpletrontdip opened #452 "Can not set `@submit` when use `as="form"`"
**Describe the bug**
Form does not get `onSubmit` handler when use `as`
[code]

**To Reproduce**
You can go to Code sandbox [here](https://codesandbox.io/s/async-frog-skswd?file=/src/components/Form.vue)
- Enter some username/password and `enter` -> Page reloaded, nothing happen
- Replace it by upper `form` line, `doSubmit` get triggered

**Expected behavior**
The generated form should have an onS

[2021-07-04 21:14] rivor opened #454 "Attribute "tabIndex" should be lowercase"
**Describe the bug**
A clear and concise description of what the bug is.
rename attribute tabIndex to tabindex to prevent dehydration "Attribute "tabIndex" should be lowercase"

**To Reproduce**
Steps to reproduce the behavior:
1. use CButton component might be others too who use tabIndex attribute
**Expected behavior**
A clear and concise description of what you expected to happen.
use tabindex i

[2021-07-04 22:58] peoray commented on #454
@rivor Can you provide more information on this? Is it possible to create a CSB? Also, what do you mean by `to prevent dehydration`

[2021-07-04 23:27] peoray commented on #433
@philwolstenholme Can you confirm if this has been fixed? I just tried it and it worked. See [here](https://codesandbox.io/s/fragrant-cdn-4jmxn?file=/src/App.vue)

[2021-07-05 06:56] rivor commented on #454
It's what i found on google when i stumbled upon this problem. I'm guessing when you have a lot of incorrect html markups on ssr page load, it just stops working and throws out error. I used this `@nuxtjs/html-validator` module to find all the wrong markups in my code and it `tabIndex` was last one i can't fix as it's coming from chakra ui component. It says it's supposed to be without lowercase (

[2021-07-05 12:38] codebender828 commented on #454
Hmmm. First time we're seeing this. It's possible that since we're camelizing some props via SSR, we might have this result during static rendering.

@rivor Kindly share a reproduction via this CSB template. https://codesandbox.io/s/nice-lehmann-kvcru

We'd like to help you find the caus4e. Doesn't seem like a big problem to solve.

[2021-07-06 13:15] rivor commented on #454
@codebender828 i'm not sure how you can inspect SSR rendered html only on codesandbox, but it should be just coming from including `<CButton>` component and on inspecting SSR html markup (CTRL + U on Chrome to do so) it should give `tabIndex` there (on client everything's fine). I included Chakra UI from Nuxt itself when installing it which is this versions `"@chakra-ui/nuxt": "^0.3.0"` .

[2021-07-07 07:46] faaizajaz commented on #425
Running into this problem as well. Doesn't seem to affect functionality for now, but not nice seeing all that red in the console.

[2021-07-08 09:18] codebender828 commented on #454
Thanks.

[2021-07-08 09:59] codebender828 commented on #454
Hi! @rivor Included a fix for this in the codesandbox generate in #455 Thanks for helping us catch the issue

[2021-07-08 10:00] codebender828 commented on #425
Hey! @faaizajaz @MaySoMusician

I've Included a fix for this in the codesandbox generates in #455 Thanks for helping us catch the issue. Try testing it and give us your feedback.

[2021-07-08 10:27] faaizajaz commented on #425
Fantastic @codebender828! Not entirely sure how to test as the PR isn't merged--should I go in and make the change manually? Don't want to break anything...

Thanks by the way for your work on this. It's really a pleasure to use, and your documentation is excellent.

[2021-07-08 11:38] codebender828 commented on #425
Thank you @faaizajaz. I appreciate the comment. It's really encouraging as there's a lot to be done :D

You can test the PR on [**this codesandbox**](https://codesandbox.io/s/elastic-tereshkova-7bp5g) before I merge it.

[2021-07-08 12:58] rivor commented on #454
Hello! @codebender828
Yep, this fixes it. Just tested it, thank you!

[2021-07-09 00:43] #425 closed

[2021-07-09 00:43] #454 closed

[2021-07-09 07:13] faaizajaz commented on #425
@codebender828 looks like it work! Thanks for closing this.

[2021-07-11 10:56] NexWasTaken opened #458 "CDrawer: searchbar overlap and double scrollbars"
1. The search bar overlaps over the drawer on the documentation page
![searchbar_overlapping](https://user-images.githubusercontent.com/40592339/125192127-c59d6b80-e263-11eb-8f91-a82d1abff299.png)

2. The page has double scrollbars on the side
![double_scrollbar_1](https://user-images.githubusercontent.com/40592339/125192201-3775b500-e264-11eb-8429-425882efc879.png)
![double_scrollbar_2](https://u

[2021-07-14 11:48] #452 closed

[2021-07-16 08:17] simpletrontdip commented on #116
Hi @codebender828 how is this going? Are we planing to use their package [@chakra-ui/theme](https://www.npmjs.com/package/@chakra-ui/theme)?
I've found it's quite straightforward to adapt it here, then we will have all their updates in Vue.
I also create an experiment branch for it, for now, I need some helps to remove old dependencies, not sure if I should proceed?

[2021-07-16 10:46] codebender828 commented on #116
Hi @simpletrontdip ! You can check out the v1 repository here => https://github.com/chakra-ui/chakra-ui-vue-next

[2021-07-16 11:19] codebender828 commented on #116
@simpletrontdip On a further note,

Yes! We're making progress. To answer your question, yes we are reusing the non-react parts of [@chakra-ui/theme](https://www.npmjs.com/package/@chakra-ui/theme). Currently this package relies on react. So I made `@chakra-ui/vue-theme`  at the time which was a direct copy of `@chakra-ui/theme` but without `react` as a dependency. In the future, I would like to r

[2021-07-16 11:32] simpletrontdip commented on #116
Sorry, my bad, I meant `@chakra-ui/styled-system`.
It is framework agnostic, at least for 1.12.1. Seems you've built `@chakra-ui/vue-theme` on that.

[2021-07-18 10:30] simpletrontdip opened #467 "Install, extend theme as Provider props not plugin constant"
- For multiple language apps, switching language also requires updating the theme, e.g. changing flow direction for RTL language.
- For now, we install `theme` via plugin constant injection, this is hard to support the theme switching.
- We need support installing/extending the global theme as Provider props instead
- This also helps our tests more clear and concise

[2021-07-20 03:07] peoray commented on #433
Will be closing this for now since we can't reproduce the issue. Feel free to reopen if you encounter the issue again :)

[2021-07-20 03:07] #433 closed

[2021-07-20 04:47] lianulloa commented on #46
@codebender828 I am not sure if my problem is directly related with this issue, but I have just create a brand new nuxt.js project, with chakra-ui and typescript and if I set `script` tag's lang attribute to "ts", then it marks me an error over any use of
`this.$chakraColorMode()`, `this.$chakraTheme()`, `this.$toggleColorMode`, `this.$toast()`

Is there any way to work around this??

[2021-07-20 05:10] codebender828 commented on #46
Hi lianulloa. I think there might be. Could you kindly share a link to your repo? I think I have some ideas.

[2021-07-20 05:42] lianulloa opened #469 "qn: Error using $chakraColorMode method with typescript"
**Describe the bug**
I have just create a brand new nuxt.js project, with chakra-ui and typescript and if I set script tag's lang attribute to "ts", then it marks me an error over any use of
this.$chakraColorMode(), this.$chakraTheme(), this.$toggleColorMode, this.$toast()

The error: Property '$chakraColorMode' does not exist on type 'CombinedVueInstance<Vue, unknown, unknown, unknown, Readonly<R

[2021-07-20 05:45] lianulloa commented on #46
@codebender828 I have created issue #469. There I shared a link to the [page index](https://github.com/lianulloa/nuxt-typescript-chakra-ui-learning/blob/cd968de9c74b6d806f01eda94bd413cb9eb72ed9/pages/index.vue#L147) from my repo

[2021-07-20 08:00] codebender828 commented on #469
Attempted to create a repo that types some of the properties here. Wanna take a look? @lianulloa

https://github.com/codebender828/recreate-v0-typescript-injectables/blob/main/theme.d.ts

[2021-07-20 17:06] ejirocodes opened #470 "Import and use toast component in a JavaScript file"
I've been trying to import the Toast component using `import { CToast } from '@chakra-ui/nuxt'; ` and `import CToast from "@chakra-ui/vue/src/CToast"` so I can use it to display error messages in my JavaScript file but I keep getting 👇🏽

<img width="568" alt="Screen Shot 2021-07-20 at 17 56 52" src="https://user-images.githubusercontent.com/45228014/126364856-ab0d2e2e-de4a-4b30-aaac-f1d112124a4d.p

[2021-07-20 19:30] peoray commented on #470
@ejirocodes Thanks for opening an issue :) Can you create a reproduction using Codesandbox?

[2021-07-21 04:25] lianulloa commented on #469
@codebender828 [theme.d.ts](https://github.com/codebender828/recreate-v0-typescript-injectables/blob/main/theme.d.ts) did the trick for the errors inside the file, but I still get these ones on the console

<img width="1368" alt="Captura de Pantalla 2021-07-21 a la(s) 12 24 36 a m" src="https://user-images.githubusercontent.com/29025113/126430620-7c8ca299-2292-40a1-a12b-6e48c3840e75.png">

the goo

[2021-07-21 05:10] lianulloa commented on #469
@codebender828 Also, by default `$chakraTheme` is used as a function (and it is defined as function inside theme.d.ts as well) but it is `undefined`.

Instead I can use it through `this.$chakra.theme` (found this by searching in [chakra-ui's doc for vue](https://vue.chakra-ui.com)) but it then shows an error

[2021-08-01 04:20] definiteIymaybe opened #471 "Picking letterSpacing values from theme"
**Describe the bug**

Hi! I may be missing something, but I can't get `letterSpacing` prop values to be looked up from theme's `letterSpacings` section. Any string value of the `letterSpacing` prop seems to be pushed to CSS as `letter-spacing` verbatim.

**To Reproduce**
1. Go to [Vue Starter](https://codesandbox.io/s/chakra-ui-vue-starter-2sy0g) starter example from the docs (or my [fork](https:/

[2021-08-02 03:40] collegetransitions commented on #432
Update: I got past this issue by following an [example from body-scroll-lock](https://github.com/willmcpo/body-scroll-lock#options to look for a `body-scroll-lock-ignore` attribute and allow touch events within that element.
[code]
and then adding `'body-scroll-lock-ignore': true,` to the `ModalContent` attrs.

[2021-08-05 08:08] abelbordonado opened #472 "Add DateInput to the Vue Chakra Components"
First of all, appreciate the great library of vue-chakra and the work behind. Is being really handfull for our projects.

**Is your feature request related to a problem? Please describe.**
I miss an important input functionality which is the `Date` Input, either `Time`  , `Month`,  `DateAndTime` combinations.
We can use the HTML5 prosal but is not as good looking (have a break of design with rest

[2021-08-08 16:40] Pwuts commented on #469
Since `$chakraTheme`, `$chakraColorMode` are provided by `CThemeProvider` and `CColorModeProvider`, and only exist within those components, I think it makes little sense to declare them on the global `Vue` instance. However, as it is intended for global use, it might make sense to move this functionality out of those two components into a client-side plugin which actually makes these properties av

[2021-08-12 08:51] Pwuts commented on #46
@codebender828 check out class components for Vue, it solves this problem entirely without the need for extra files. I use it all the time and am very glad it exists.

Before:
[code]

After:
[code]

Then Vetur has a setting to enable template interpolation so it can also give type hints etc inside the template.

The `vue-property-decorator` (or `nuxt-property-decorator`) package also has other rea

[2021-08-13 03:42] codebender828 commented on #469
@Pwuts Good point. I've seen the pull request onn #473. It looks good. Does it satisfy the typescript requirements for component properties?

[2021-08-13 07:40] Pwuts commented on #469
@codebender828 I'll look into the props specifically when I have time, which is going to be monday at the earliest.

[2021-08-13 10:11] #469 closed

[2021-08-13 10:29] codebender828 commented on #472
Hi, @abelbordonado ! Thank you for the kind words! We appreciate it and are encouraged.

We also appreciate the suggestion to include a higher-level component like a date-picker to Chakra UI. After some consideration our team has agreed that the best way for us to continue with the future of Chakra UI would be to focus primarily on primitive/or slightly higher than primitive components.

Building

[2021-08-13 10:29] #472 closed

[2021-08-18 06:11] lianulloa commented on #469
I updated my package.json to use `"@chakra-ui/nuxt": "^0.4.0"` ( I think the fix got deployed there) but I still need `theme.d.ts` to remove the errors.

Also, the default example gets broken (in Nuxt)

<img width="1288" alt="Captura de Pantalla 2021-08-18 a la(s) 2 11 18 a m" src="https://user-images.githubusercontent.com/29025113/129846792-4594c721-f8bc-4858-acac-6250879ff75c.png">

[2021-08-18 17:15] rxmii4269 opened #477 "@chakra-ui/nuxt 0.4.1 breaks multiple css attributes."
**Describe the bug**
Upgrading to chakra-ui/nuxt 0.4.1 from 0.3.5 breaks multiple css attributes.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to chakra-ui/nuxt 0.4.1
2. Run a known, working project.
3. Notice some css attributes failing.

**Expected behavior**
css attributes are interpreted as usual prior to the upgrade.

**Screenshots**

 **Before Upgrade**

![Before Upgrade](ht

[2021-08-19 02:01] codebender828 commented on #477
Hi Romain.  Thanks for catching this. On my test repos everything seemed to
be working alright. Didn't test a more complicated repo.

Could you kindly share with me access to your repo? I'd like to debug this
issue as soon as possible.

On Thu, 19 Aug 2021, 01:15 Romaine Murray, ***@***.***> wrote:

[2021-08-19 13:37] rygz146 opened #478 "Modal component cannot be swiped in Safari browser of IPhone"
Hi Jonas, Modal component cannot be swiped in Safari browser of IPhone, and the content at the bottom is blocked. I have been looking for a solution, do you have a good method? I am looking forward to your reply

[2021-08-19 18:18] rxmii4269 commented on #477
Hi @codebender828, sent an invite just now.

[2021-08-24 03:08] TrungRueta commented on #477
Hi, did you found reason about this bug. I try to upgrade to v0.4 (because v0.3 only use chakra vue v0.9) and got same issue. i can see look like module nolonger reading config anymore. with attribute `fontSize="xs"` not convert to actual value, it keep same `font-size: xs` in rendered css.

[2021-09-07 06:08] escapedcat opened #484 "c-form-control -> c-select `id` ends up on select and wrapper-div (breaks label functionality / creates invalid HTML)"
**Describe the bug**
https://vue.chakra-ui.com/formcontrol#select-example
Example in docs shows that `id` is being added twice to generated HTML.

**Expected behavior**
`CSelect` warpper div should not have `id="country"` only the `select` should have it.

**Screenshots**
![image](https://user-images.githubusercontent.com/1016218/132292260-eb077994-fdd3-4877-8fb0-b3e66eaa910f.png)

**Desktop (plea

[2021-09-09 16:17] peoray commented on #484
Thanks for spotting that out @escapedcat. We'll look into it :)

[2021-09-11 05:59] abhinav-sharma-intuit opened #485 "TextArea: Error when using the event @change"
**Describe the bug**
The issue with the text-area component:

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/81356090/132937987-999ab6f2-6adb-45c2-8d39-7a8e2817b745.png)

[2021-09-12 13:13] peoray commented on #485
Thank you @abhinav-sharma-intuit. This issue is already reported here #356. We are aware of it and will be fixed in the next release. I'll ensure to ping you here but for now, will be closing this since it's a duplicate :)

[2021-09-12 13:13] #485 closed

[2021-09-15 09:34] TrungRueta opened #488 "Not all components can overwrite base style use baseStyles"
**Describe the bug**
For now package allow overwrite base style of components via config. Problem is not all components can overwrite. Ex is CMenu and child components. I use `baseStyles` property on config to add custom dark mode for border color:

![image](https://user-images.githubusercontent.com/12226007/133408803-c62694aa-43d0-4687-b721-98ca81dcc548.png)

![image](https://user-images.githubus

[2021-09-23 14:29] #88 closed

[2021-09-24 08:47] HerrBertling commented on #484
I think the fix would be rather easy by filtering the `data.attrs` before spreading them into the `CBox` here: https://github.com/chakra-ui/chakra-ui-vue/blob/develop/packages/chakra-ui-core/src/CSelect/CSelect.js#L34

I'd open a PR for this if that's okay @peoray?

[2021-09-24 09:02] peoray commented on #484
Please go ahead @HerrBertling . :)

[2021-09-24 18:19] HerrBertling commented on #484
Done :)

[2021-09-28 15:59] peoray commented on #356
@romain130492 You can't actually use the `@input` event. From the [docs](https://vue.chakra-ui.com/textarea#event), only the `@change` event can be used

[2021-09-29 01:00] peoray commented on #470
Please check the [docs](https://vue.chakra-ui.com/toast). Will be closing this for now. Let us know if you're still having this issue

[2021-09-29 01:00] #470 closed

[2021-10-07 08:47] trandaison opened #493 "CSS priority order for responsive goes wrong"
**Describe the bug**
Does anyone meet this issue before? I have a `CStack` with the width as below:
[code]
The result is: the box is always 100% width in any screen width; because the css order is wrong

**To Reproduce**
Check out this repo from codesandbox:
https://codesandbox.io/s/codesandbox-nuxt-typescript-forked-77352?file=/pages/index.vue:351-494

**Expected behavior**
The order should be co

[2021-10-07 15:00] #484 closed

[2021-10-21 22:47] sduduzog opened #494 "Persisting the color mode"
**Is your feature request related to a problem? Please describe.**
After switching the color mode from light to dark, refreshing the page lands me back on dark mode. Not only that but the system currently is set to be dark mode but there is no way currently to get that automatically set

**Describe the solution you'd like**
Color mode should be persisted so that when I leave the site and come back

[2021-10-24 00:42] dhazelett opened #495 "Unrenderable Icons with FontAwesome Pro Duotone"
**Describe the bug**
When attempting to load `@fortawesome/pro-duotone-svg-icons` icons, only half the icon renders, and raises: `Error: <path> attribute d: Expected path command, "….06 0 0 0 64 64z,M396.8 288h-8.3…".` in the console

**To Reproduce**
Basic Vue2 install via `vue create project` & `vue add chakra-ui`

[code]

**Expected behavior**
Both parts of the svg should render

**Screenshots*

[2021-10-29 20:39] Exilibris opened #497 "CMenuOptionGroup throws a warning when passing an Array as a :value prop"
**Describe the bug**
Documentation says CMenuOptionGroup accepts string, number, Array<string or number> as a value of the :value attribute. However, when array is passed a warning is thrown in the console:

`Invalid prop: type check failed for prop "value". Expected String, Number, got Array`

However, components itself work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2021-12-01 16:21] lianulloa opened #498 "Icon and Icon button low versatility"
**Is your feature request related to a problem? Please describe.**
I have spent too much time trying to put a search icon as a left element of an input and a close icon as a right element of it.
Putting the close icon was easy, but them I can't find the right way to remove the border of `c-icon-button` and to make it really small, like 12px width and height.
About the search icon, it doesn't exist

[2021-12-01 16:57] lianulloa commented on #292
Hi guys, is there any update about this? Still have the same issue. In my case I was trying to use `keydown.enter`, `keypress.enter` or `keyup.enter`. Neither worked @dombavetta @codebender828

[2021-12-11 16:24] Morgbn opened #500 "$mode(): Uncaught ReferenceError: mode is not defined"
**Describe the bug**
Missing `mode` function in @chakra-ui/nuxt ([here](https://github.com/chakra-ui/chakra-ui-vue/blob/81291cfbb05b4abd6c8107e14441a8f7a989af4e/packages/chakra-ui-nuxt/lib/plugin.js#L53))

**To Reproduce**
Steps to reproduce the behavior:
1. Try this code (from [the doc](https://vue.chakra-ui.com/color-mode#usage-in-templates)) in nuxt:
[code]
2. See error:

    at VueComponent.ev

[2021-12-19 11:59] carwack opened #501 "CIconButton does not pass class correctly"
**Describe the bug**
A clear and concise description of what the bug is.
When I add a CSS class to the CIconButton it doesn't show this class when the component is rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a class to the CIconButton component
2. `<c-icon-button class="burger-button" aria-label="Burger menu" icon="hamburger" `/>`
3.
![buttonicon](https://user-images.github

[2021-12-22 15:53] peoray commented on #497
Thank you @Exilibris. This will be fixed in the next release :)

[2021-12-23 00:29] peoray commented on #495
I'll be closing this issue as the PR linked fixes it. If that's not the case, feel free to reopen it :)

[2021-12-23 00:29] #495 closed

[2021-12-23 00:35] peoray commented on #292
Closing this as it looks to be fixed (update in the next release). Feel free to reopen if this isn't the case

[2021-12-23 00:35] #292 closed

[2021-12-24 12:49] carwack opened #504 "Responsive styles breaking issue since v0.10.x"
**Describe the bug**
There are some breaking bugs when using responsive styles in v0.10.x

*** Array Notation***
example:
[code]
This does not generate any media Queries at all.

*** Object Notation***
example:
[code]
The order of the media Queries inside the CSS isn't correct.
![Screenshot 2021-12-24 at 13 46 12](https://user-images.githubusercontent.com/16015740/147353696-bff376d4-efd4-452d-8e33

[2021-12-29 15:28] codebender828 commented on #504
This issue only appears to be happening with the object syntax

[2021-12-29 15:28] codebender828 commented on #504
Thanks for the reproduction. Will look into this

[2022-01-19 16:12] #497 closed

[2022-01-19 16:36] #500 closed

[2022-01-19 16:37] #504 closed

[2022-01-22 07:59] younho9 opened #513 "Errors on yarn install"
**Describe the bug**
A clear and concise description of what the bug is.

When I install dependencies using yarn, an error occurs. Then no other commands are executed.

**To Reproduce**
Steps to reproduce the behavior:

`yarn install` at develop or master branch.
After, `yarn docs:dev` and [Code contribution ](https://vue.chakra-ui.com/contributing#code-contribution) also not run.

**Screenshots**

[2022-01-24 18:20] starkfire opened #516 "Unexpected Behavior in Docs"
**Describe the bug**
There are some sections in the docs with unwanted empty spaces at the bottom. Scrolling down continuously on sections **with radio buttons** or pressing any sample radio button will expose this empty space.

Issue happens on:
* [Checkbox](https://vue.chakra-ui.com/checkbox)
* [ControlBox](https://vue.chakra-ui.com/controlbox)
* [Drawer](https://vue.chakra-ui.com/drawer)
* [For

[2022-01-25 09:39] carwack commented on #516
Thanks for noticing this!

I quickly took a look and it seems to be an issue with the `CVisuallyHidden` component that is used in the `CRadio` component.
It has an `absolute` position but I don't see why it is acting up just now. 🤔

[2022-01-31 06:15] younho9 commented on #513
Related: https://stackoverflow.com/questions/69936116/yarn-install-failing-import-sys-print-s-s-s-sys-version-info3-invalid

[2022-02-09 08:10] hysakhr opened #518 "CMenu props "autoSelect" set false is not working"
**Describe the bug**
CMenu props "autoSelect" set false is not working

**To Reproduce**
1. create menu (auto-select = false)
[code]

2. click menu button

3. see error `TypeError: openMenu is not a function`

**Expected behavior**
1. open menu
2. menu item is not selected

**Screenshots**
![image](https://user-images.githubusercontent.com/5915212/153150833-b5640889-bbc3-44ce-baeb-009bbe34fdb1.png

[2022-04-08 19:04] hasanparasteh commented on #435
@codebender828 do you have any updates on RTL feature progress?
if there's not any design/architecture progress on how chakra UI gonna implement this feature, I can make a sample demo by forking the repo and sending a PR for this issue...

[2022-04-13 14:43] miggynowiggy opened #527 "TypeScript Typings"
I'm currently using this amazing package for a MVP we are about to build using Vue 2 with Typescript.

However it seems that I can't start my dev server since it shows the error where in typescript can't detect typings for this package.
Any steps I should do to prevent this error?
Or in case that there is still no typings for this package, when are we expecting to have it?

[2022-04-18 15:13] TylerAPfledderer commented on #516
Hey folks! This might be related to Chrome. There is no extra scroll occurring in Firefox on any of these pages.

[2022-04-19 18:23] peoray commented on #513
@younho9 what version of node are you using? Try v12

[2022-04-28 17:18] VeraGoerisch opened #530 "Add isLazy prop to CPopover"
**Is your feature request related to a problem? Please describe.**
CPopover in Vue Chakra UI doesn't have `isLazy` prop which is present in Chakra UI for React so there is no way to defer CPopoverContent rendering until the popover is open.

**Describe the solution you'd like**
CPopover has `isLazy` prop.

**Describe alternatives you've considered**
Current solutions include adding a bunch of `v-i

[2022-04-30 01:34] younho9 commented on #513
@peoray I used the v16. It works well in v12. Thank you.

[2022-04-30 01:34] #513 closed

[2022-05-07 13:18] 0xcrypto opened #531 "TypeError: defu is not a function in a fresh installation"
https://github.com/chakra-ui/chakra-ui-vue/blob/f4e9f004b118c7ea3892c5669fee9e3ef6da3aaf/packages/chakra-ui-nuxt/lib/module.js#L2

defu is incorrectly imported in above mentioned line and throws error in a fresh installation.

[code]

It needs to be destructured:
[code]

[2022-05-07 13:28] 0xcrypto commented on #531
Manually installing defu@^2.0.4 works too.

[2022-05-26 15:36] givensuman opened #535 "Accessibility report link typo in CircularProgress component"
The [CircularProgress component documentation](https://vue.chakra-ui.com/circularprogress) links to

`
https://github.com/chakra-ui/chakra-ui-vue/blob/master/packages/chakra-ui-core/src/CCircularProgress/accesibility.md
`

which contains a typo, and leads to a dead page. Should read

`
https://github.com/chakra-ui/chakra-ui-vue/blob/master/packages/chakra-ui-core/src/CCircularProgress/accessibilit

[2022-05-30 07:52] carwack commented on #535
Nice catch and thanks for letting us know! 🙏
Will be fixed asap!

[2022-06-02 11:26] carwack commented on #535
Fixed in: https://github.com/chakra-ui/chakra-ui-vue/pull/536

Thanks for reporting! 🙏

[2022-06-02 11:26] #535 closed

[2022-06-13 16:14] #531 closed

[2022-08-07 23:22] ShadeAJ1 commented on #531
Just did a fresh setup with nuxt and I'm still getting this issue. Fixed it by installing manually.

[2022-09-09 10:54] Valar103769 commented on #116
can support column drap-drop sort?

[2022-10-08 08:52] chwan97 opened #545 "FATAL defu is not a function"
When I initialized the project with Nuxt2 and selected the chakra-ui
then I got this error when I started,  console show the error was in this package.
[code]

[2022-10-08 22:14] codebender828 commented on #545
Hi! Can you please provide link to a repo with a reproduction of the issue?Sent from my iPhoneOn 8 Oct 2022, at 01:52, chwan ***@***.***> wrote:﻿
When I initialized the project with Nuxt2 and selected the chakra-ui
then I got this error when I started,  console show the error was in this package.
 FATAL  defu is not a function

  at ModuleContainer.module.exports ***@***.***/nuxt/lib/module.js:20:

[2022-10-09 00:37] chwan97 commented on #545
https://gitlab.com/chwan01295916/nuxt-chakra-ui-bug.    <-   here

[2022-10-09 12:13] carwack commented on #545
I do think this issue: https://github.com/chakra-ui/chakra-ui-vue/issues/531 addresses the same issue. I do think you best install `defu` yourself as a dependency since it should be a peer dependency

Hope it helps 😊

[2022-10-09 12:19] chwan97 commented on #545
Thank you for your reply, I suppose defu 6.0.0 do have problem, turn `@chakra-ui/nuxt` 's version from `^0.6.0` to `0.5.0` solved this question.

[2022-10-10 09:05] caocuong2404 commented on #545
Same problem with the first run.
My package JSON files:
[code]

[2022-10-10 20:49] odiak opened #546 "leastDestructiveRef of CAlertDialog seems not working"
**Describe the bug**
I specified `CAlertDialog`'s `leastDestructiveRef` with ref of second button, but the first button was initially focused.

[code]

**Expected behavior**
Second button is focused initially.

[2022-11-07 14:44] TheReincarnator opened #548 "CTextarea's v-model binds to the wrong prop"
In CTextarea, the `v-model` configuration binds to `inputValue` and `change`. However, Vue's `textarea` component (which is in turn used by composing CInput) has a `value` prop.

So the following template does not work:
[code]

while the following works:
[code]

If I am not mistaking, the model declaration in CTextarea should be
[code]
without any extra prop
[code]

Or am I wrong?